.semi24 {
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}

.Layout {
  width: 1496px;
  margin: auto;
  margin-bottom: 160px;
}

.EventUpperBar {
  display: flex;
  justify-content: space-between;
  width: 1496px;
  padding-top: 54px;
  margin-bottom: 26px;
}
.EventUpperBar .title {
  color: #000;
  line-height: 28px;
}

.EventsDashboard {
  display: flex;
  justify-content: space-between;
  padding-bottom: 92px;
}

.EventsCalendar {
  width: 584px;
  height: 554px;
  border: 1px solid #000;
}

.EventsList {
  display: flex;
  width: 888px;
  height: 554px;
  border: 1px solid #000;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.EventsList img {
  width: 21px;
  height: 21px;
  margin: 10px;
}

.EventsCarousel {
  width: 840px;
  height: 470px;
  overflow-y: scroll;
}

.EventsSlide {
  display: flex;
  flex-direction: column;
}

.dotbar {
  display: flex;
  margin: auto;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 30px;
}
.dotbar img {
  width: 10px;
  height: 10px;
  margin: 5px;
}

.EventInputLayout {
  border-top: 1px solid var(--Midium-gray, #9e9e9e);
  width: 1496px;
  padding-top: 74px;
  margin-bottom: 54px;
}

.EventInputLayoutUpperBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.EventSelectButtonSet button {
  width: 175px;
  height: 34px;
  flex-shrink: 0;
  color: #000;
  background: #fff;
  border: 1px solid #000;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}
.EventSelectButtonSet button.true {
  color: #fff;
  background: #000;
  border: 0px;
}

.DeleteButton {
  display: inline-flex;
  height: 34px;
  padding: 2px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: var(--blue, #be3333);
  color: #fff;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28.5px;
  float: right;
  cursor: pointer;
  margin: 0px 10px;
}
.DeleteButton:hover {
  background: #7c0808;
}

.EventImageSet {
  display: flex;
  width: 1496px;
  height: 50px;
  margin-bottom: 15px;
}
.EventImageSet .EventImageInput {
  width: 1425px;
  height: 50px;
  flex-shrink: 0;
  margin-right: 21px;
}
.EventImageSet > img {
  width: 50px;
  height: 50px;
}
.EventImageSet > img:hover {
  content: url("../../../../public/assets/images/removeform_hover.svg");
}

.EventImageInput {
  display: flex;
  width: 1496px;
  height: 50px;
  flex-shrink: 0;
  border: 1px solid #000;
  margin-bottom: 29px;
}
.EventImageInput .UploadImageSpace {
  flex-shrink: 0;
  padding: 15px 11px;
}
.EventImageInput .UploadImageSpace img {
  width: 18px;
  height: 20px;
  flex-shrink: 0;
  stroke-width: 1.25px;
  stroke: #000;
}
.EventImageInput .imagePath {
  width: 1375px;
  padding: 11px 5px;
  color: #000;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.EventTitleInput {
  margin-bottom: 29px;
}
.EventTitleInput textarea {
  width: 1496px;
  height: 80px;
  flex-shrink: 0;
}

.EventPeriodSetting {
  display: flex;
  justify-content: space-between;
  width: 1496px;
  height: 80px;
  flex-shrink: 0;
  border: 1px solid #000;
  margin-bottom: 29px;
  padding: 20px 25px;
}

.EventStartDate,
.EventEndDate {
  width: 250px;
  margin-right: 100px;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 37px;
}
.EventStartDate .clickLayout,
.EventEndDate .clickLayout {
  display: flex;
  align-items: center;
  height: 37px;
}
.EventStartDate .clickLayout img,
.EventEndDate .clickLayout img {
  width: 25px;
  height: 24px;
  margin-left: 10px;
  margin-right: 10px;
}
.EventStartDate .clickLayout input,
.EventEndDate .clickLayout input {
  width: 120px;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 37px;
  caret-color: transparent;
}
.EventStartDate .clickLayout.enable,
.EventEndDate .clickLayout.enable {
  color: white;
}
.EventStartDate .clickLayout.enable img,
.EventEndDate .clickLayout.enable img {
  visibility: hidden;
}
.EventStartDate .clickLayout.enable input,
.EventEndDate .clickLayout.enable input {
  color: white;
}

.EventDateAllday {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}
.EventDateAllday input,
.EventDateAllday img {
  width: 31px;
  height: 31px;
  margin-right: 12px;
}

.EventPeriodDetail {
  width: 1496px;
  height: -moz-fit-content;
  height: fit-content;
  flex-shrink: 0;
  border: 1px solid var(--Dark-gray, #3c3c3c);
  padding: 30px 44px;
  margin-bottom: 50px;
}

.EventPeriodDetailElement .title {
  color: #000;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 8px;
}
.EventPeriodDetailElement input {
  width: 910px;
  height: 50px;
  flex-shrink: 0;
  border: 1px solid #000;
  margin-bottom: 20px;
  padding: 5px 19px 6px 19px;
  font-size: 22px;
  font-weight: 400;
}
.EventPeriodDetailElement .EventLinkInput {
  display: flex;
  align-items: center;
  width: 910px;
  height: 50px;
  flex-shrink: 0;
  border: 1px solid #000;
}
.EventPeriodDetailElement .EventLinkInput input {
  width: 92%;
  height: 100%;
  border: 0px;
  margin: 0px;
  padding: 0px;
}
.EventPeriodDetailElement .EventLinkInput img {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  margin: 5px 19px 6px 19px;
}
.EventPeriodDetailElement .EventPeriodDetailTime input {
  width: 164px;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
  text-align: center;
}
.EventPeriodDetailElement .EventPeriodDetailTime input:last-child {
  border-left: 0px;
}

.EventPurposeInput,
.EventExplanationsInput {
  margin-bottom: 24px;
}
.EventPurposeInput textarea,
.EventExplanationsInput textarea {
  width: 1496px;
  height: 150px;
  flex-shrink: 0;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 50px;
}
.EventPurposeInput > div:last-child > img,
.EventExplanationsInput > div:last-child > img {
  width: 50px;
  height: 50px;
}
.EventPurposeInput > div:last-child > img:hover,
.EventExplanationsInput > div:last-child > img:hover {
  content: url("../../../../public/assets/images/addform_hover.svg");
}

.EventLocationSearch {
  display: flex;
  align-items: center;
  width: 1496px;
  height: 54px;
  flex-shrink: 0;
  padding: 12px;
  border: 1px solid #000;
  margin-bottom: 12px;
}
.EventLocationSearch input {
  width: 1446px;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding-right: 10px;
}
.EventMapContainer {
  display: flex;
  width: 1496px;
  height: 475px;
  flex-shrink: 0;
  margin-bottom: 50px;
  overflow: hidden;
}

.EventGalleryInput .title {
  color: #000;
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 12px;
}
.EventGalleryInput > div:last-child > img {
  width: 50px;
  height: 50px;
}
.EventGalleryInput > div:last-child > img:hover {
  content: url("../../../../public/assets/images/addform_hover.svg");
}

.EventCardLayout {
  display: flex;
  width: 810px;
  height: 82px;
  padding: 10px 17px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
  border: 1px solid var(--Midium-gray, #9e9e9e);
  background: #fff;
  margin-right: 30px;
  margin-bottom: 10px;
}
.EventCardLayout:hover {
  background: var(--Light-gray, #f0f0f0);
  cursor: pointer;
}

.EventCardTitle {
  width: 780px;
  color: #000;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.EventCardPeriod {
  display: flex;
}
.EventCardPeriod div {
  color: #000;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}
.EventCardPeriod .year {
  margin-right: 8px;
}
.ApplyButton {
  display: inline-flex;
  height: 34px;
  padding: 2px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: var(--blue, #0d5699);
  color: #fff;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28.5px;
  cursor: pointer;
}
.ApplyButton:hover {
  background: #093f71;
}

@media (max-width: 1400px) {
  .Layout {
    width: 900px;
  }
  .EventUpperBar {
    width: 100%;
  }
  .EventsCalendar {
    width: 44%;
  }
  .EventsList {
    width: 54%;
  }
  .EventsCarousel {
    width: 100%;
  }
  .CarouselProgress {
    width: 90%;
  }
  .EventCardLayout {
    width: 100%;
  }
  .EventCardTitle {
    width: 100%;
  }
  .EventInputLayout {
    width: 100%;
  }
  .EventImageInput {
    width: 100%;
  }
  .EventImageInput .imagePath {
    width: 800px;
  }
  .EventTitleInput textarea {
    width: 100%;
  }
  .EventPeriodInput .EventPeriodSetting {
    width: 100%;
  }
  .EventStartDate,
  .EventEndDate {
    width: 350px;
    margin-right: 0px;
  }
  .EventStartDate .clickLayout,
  .EventEndDate .clickLayout {
    width: 100%;
  }
  .EventPeriodDetail {
    width: 100%;
  }
  .EventPeriodDetailElement input {
    width: 80%;
  }
  .EventPeriodDetailElement .EventLinkInput {
    width: 80%;
  }
  .EventPeriodDetailElement .EventLinkInput input {
    width: 90%;
  }
  .EventPurposeInput textarea {
    width: 100%;
  }
  .EventExplanationsInput textarea {
    width: 100%;
  }
  .EventImageSet {
    width: 100%;
  }
  .EventImageSet .EventImageInput {
    width: 92%;
  }
  .EventImageSet .imagePath {
    width: 780px;
  }
  .EventLocationSearch {
    width: 100%;
  }
  .EventLocationSearch input {
    width: 850px;
  }
  .EventMapContainer {
    width: 100%;
  }
}/*# sourceMappingURL=events.css.map */