.EventCalendar {
  .react-calendar {
    width: 100%;
    border: 0px;
    padding: 50px;
  }

  .react-calendar__navigation__label {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .react-calendar__month-view__weekdays {
    color: #000;
    text-align: center;
    font-family: Pretendard;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
  }

  .react-calendar__month-view__days__day {
    height: 57px;
    padding: 7px;
    &:hover {
      background: none;
      cursor: default !important;
    }
    &:focus {
      background: none;
    }
  }

  .react-calendar__month-view__weekdays__weekday {
    padding: 8px;
  }

  .react-calendar__year-view__months__month {
    padding: 26px;
  }

  .react-calendar__decade-view__years__year {
    padding: 29px;
  }

  .react-calendar__century-view__decades__decade {
    padding: 20px;
  }

  .react-calendar__tile {
    text-align: center;
    font-family: Pretendard;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }

  .react-calendar__tile:disabled {
    // font-size: 0px;
    background-color: #fff;
  }

  // .react-calendar__month-view__weekdays {
  //   overflow: hidden;
  // }

  .react-calendar__navigation__prev-button,
  .react-calendar__navigation__next-button {
    display: flex;
    justify-content: center;
    font-size: 30px;
  }

  // 연도 넘기는 버튼 삭제
  .react-calendar__navigation__prev2-button,
  .react-calendar__navigation__next2-button {
    display: none;
  }

  .react-calendar__year-view {
    padding: 10px 20px;
  }

  .react-calendar__tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  // .react-calendar__tile:hover {
  //   cursor: auto !important;
  //   background: transparent;
  // }

  // .react-calendar__tile:focus {
  //   background-color: transparent !important;
  //   cursor: auto !important;
  // }

  .react-calendar__tile--active {
    background: none;
    color: inherit;
    abbr {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      aspect-ratio: 1 / 1;
      background: #f0f0f0;
      border-radius: 20px;
    }
  }

  .react-calendar__tile--active:hover {
    // background: #006edc;
    // color: white;
  }

  .dotContainer {
    display: flex;
    justify-content: center;
    margin-top: 3px;
    height: 8px;
  }

  .dot {
    height: 8px;
    width: 8px;
    background-color: #ff0000;
    border-radius: 50%;
    display: flex;
    margin: 1px;
  }

  @media (max-width: 1400px) {
    .react-calendar__decade-view__years__year {
      padding: 25px 10px 25px 10px;
      font-size: 22px;
    }

    .react-calendar__century-view__decades__decade {
      padding: 15px 10px 15px 10px;
      font-size: 20px;
    }
  }
}
