.login {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	&-container {
		width: 250px;
		height: fit-content;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 100px;
		img {
			width: 200px;
			height: fit-content;
		}
		.title {
			width: fit-content;
			margin-top: 20px;
			font-size: 41px;
			font-weight: 700;
			margin-bottom: 50px;
		}
		form {
			width: 250px;
			height: fit-content;
			display: flex;
			flex-direction: column;
			align-items: center;
			.id {
				width: 250px;
				height: 50px;
				font-size: 16px;
				border: 1px solid #9e9e9e;
				border-radius: 10px;
				margin-top: 15px;
				padding-left: 10px;
				padding-right: 10px;
			}
			.pw {
				@extend .id;
				font-size: 16px;
			}
			button {
				@extend .id;
				border: none;
				background-color: black;
				color: white;
				font-size: 22px;
			}
		}
	}
}
