.insightinfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 80px;
}
.insightinfo-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 1496px;
  height: 34px;
  margin: auto;
  margin-top: 54px;
}
.insightinfo-head img {
  margin-right: 11px;
}
.insightinfo-head .back {
  margin-top: 3px;
  margin-right: 79px;
  color: #000;
  /* web. re.22 */
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px; /* 127.273% */
}
.insightinfo-head .title {
  margin-top: 3px;
  margin-right: 998px;
  color: #000;
  /* semi 24 */
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 116.667% */
}
.insightinfo-head .upload {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  height: 34px;
  padding: 2px 40px;
  background: var(--blue, #0d5699);
  color: #fff;
  /* Web/Pre. Light 20 */
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28.5px; /* 142.5% */
}
.insightinfo-type {
  position: relative;
  width: 1496px;
  height: 54px;
  margin: auto;
  margin-top: 26px;
}
.insightinfo-type .dropdown-button {
  display: flex;
  align-items: center;
  position: relative;
  width: 436px;
  height: 54px;
  border: 1px solid black;
}
.insightinfo-type .dropdown-button .location {
  width: 193px;
  color: var(--Midium-gray, #9e9e9e);
  margin-left: 16px;
  /* web. re.22 */
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
}
.insightinfo-type .dropdown-button div {
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
}
.insightinfo-type .dropdown-button img {
  position: absolute;
  right: 21px;
}
.insightinfo-type .dropdown-button:hover {
  cursor: pointer;
}
.insightinfo-type .dropdown-container {
  position: absolute;
  z-index: 20;
  width: 436px;
  height: 219px;
  margin-top: 10px;
  border: 1px solid #000;
}
.insightinfo-type .dropdown-container .dropdown-content {
  display: flex;
  flex-direction: column;
}
.insightinfo-type .dropdown-container .dropdown-content .dropdown-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 54px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #000;
  background-color: white;
}
.insightinfo-type .dropdown-container .dropdown-content .dropdown-item:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
.insightinfo-type .dropdown-container .dropdown-content .dropdown-item:last-child {
  border-bottom: none;
}
.insightinfo-pdf {
  display: flex;
  flex-direction: column;
  width: 1496px;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  margin-top: 46px;
}
.insightinfo-pdf .box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 1496px;
  height: 50px;
  border: 1px solid var(--Dark-gray, #3c3c3c);
  margin-bottom: 10px;
}
.insightinfo-pdf .box label {
  display: flex;
  align-items: center;
  width: 900px;
  height: 50px;
  margin-left: 15px;
}
.insightinfo-pdf .box label img:hover {
  cursor: pointer;
}
.insightinfo-pdf .box label .text {
  margin-left: 16px;
  color: #000;
  /* web. re.22 */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 127.273% */
}
.insightinfo-pdf .box label p {
  margin-left: 16px;
  color: var(--Midium-gray, #9e9e9e);
  text-align: center;
  /* web. re.22 */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
}
.insightinfo-pdf .lastitem {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 1496px;
  margin-top: 10px;
}
.insightinfo-pdf .lastitem .box {
  position: relative;
  width: 1426px;
  margin-bottom: 0px;
}
.insightinfo-pdf .lastitem .box label {
  display: flex;
  align-items: center;
  width: 1426px;
  height: 50px;
  margin-left: 0px;
}
.insightinfo-pdf .lastitem .box label img:hover {
  cursor: pointer;
}
.insightinfo-pdf .lastitem .box label .text {
  margin-left: 16px;
  color: #000;
  /* web. re.22 */
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 127.273% */
}
.insightinfo-pdf .lastitem .box label p {
  margin-left: 16px;
  color: var(--Midium-gray, #9e9e9e);
  width: 1200px;
  text-align: start;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* web. re.22 */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
}
.insightinfo-pdf .lastitem .box img {
  margin-left: 19px;
}
.insightinfo-pdf .lastitem .add, .insightinfo-pdf .lastitem .sub {
  height: 50px;
  margin-left: 16px;
}
.insightinfo-pdf .lastitem .add:hover, .insightinfo-pdf .lastitem .sub:hover {
  content: url("/public/assets/images/add-h.svg");
  cursor: pointer;
}
.insightinfo-pdf .lastitem .sub:hover {
  content: url("/public/assets/images/sub-h.svg");
}
.insightinfo-text {
  display: flex;
  flex-direction: column;
  width: 1496px;
  height: 124px;
  margin: auto;
  margin-top: 30px;
}
.insightinfo-text .head {
  width: 172px;
  display: inline-flex;
  padding: 8px 34px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--Light-gray, #f0f0f0);
}
.insightinfo-text textarea {
  width: 1496px;
  padding: 5px;
  height: 80px;
  font-size: 20px;
  border: 1px solid #000;
}
.insightinfo-divider {
  width: 1496px;
  height: 1px;
  margin: auto;
  margin-top: 60px;
  background-color: black;
}
.insightinfo-preview {
  display: flex;
  flex-direction: column;
  width: 1496px;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  margin-top: 20px;
}
.insightinfo-preview .head {
  margin-bottom: 42px;
  color: #000;
  /* web. semi.40 */
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 70% */
}
.insightinfo-preview iframe {
  width: 1192px;
  margin-bottom: 30px;
  align-self: center;
  border: 3px solid black;
}

@media (max-width: 1400px) {
  .insightinfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 80px;
  }
  .insightinfo-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 900px;
    height: 34px;
    margin: auto;
    margin-top: 54px;
  }
  .insightinfo-head img {
    margin-right: 11px;
  }
  .insightinfo-head .back {
    margin-top: 3px;
    margin-right: 79px;
    color: #000;
    /* web. re.22 */
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px; /* 127.273% */
  }
  .insightinfo-head .title {
    margin-top: 3px;
    margin-right: 402px;
    color: #000;
    /* semi 24 */
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 116.667% */
  }
  .insightinfo-head .upload {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    height: 34px;
    padding: 2px 40px;
    background: var(--blue, #0d5699);
    color: #fff;
    /* Web/Pre. Light 20 */
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28.5px; /* 142.5% */
  }
  .insightinfo-type {
    position: relative;
    width: 900px;
    height: 54px;
    margin: auto;
    margin-top: 26px;
  }
  .insightinfo-type .dropdown-button {
    display: flex;
    align-items: center;
    position: relative;
    width: 436px;
    height: 54px;
    border: 1px solid black;
  }
  .insightinfo-type .dropdown-button .location {
    width: 193px;
    color: var(--Midium-gray, #9e9e9e);
    margin-left: 16px;
    /* web. re.22 */
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
  }
  .insightinfo-type .dropdown-button div {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  .insightinfo-type .dropdown-button img {
    position: absolute;
    right: 21px;
  }
  .insightinfo-type .dropdown-button:hover {
    cursor: pointer;
  }
  .insightinfo-type .dropdown-container {
    position: absolute;
    z-index: 20;
    width: 436px;
    height: 219px;
    margin-top: 10px;
    border: 1px solid #000;
  }
  .insightinfo-type .dropdown-container .dropdown-content {
    display: flex;
    flex-direction: column;
  }
  .insightinfo-type .dropdown-container .dropdown-content .dropdown-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 54px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #000;
    background-color: white;
  }
  .insightinfo-type .dropdown-container .dropdown-content .dropdown-item:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }
  .insightinfo-type .dropdown-container .dropdown-content .dropdown-item:last-child {
    border-bottom: none;
  }
  .insightinfo-pdf {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: -moz-fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 56px;
  }
  .insightinfo-pdf .box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 900px;
    height: 50px;
    border: 1px solid var(--Dark-gray, #3c3c3c);
    margin-bottom: 10px;
  }
  .insightinfo-pdf .box label {
    display: flex;
    align-items: center;
    width: 900px;
    height: 50px;
    margin-left: 15px;
  }
  .insightinfo-pdf .box label img:hover {
    cursor: pointer;
  }
  .insightinfo-pdf .box label .text {
    margin-left: 16px;
    color: #000;
    /* web. re.22 */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 127.273% */
  }
  .insightinfo-pdf .box label p {
    margin-left: 16px;
    color: var(--Midium-gray, #9e9e9e);
    text-align: center;
    /* web. re.22 */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
  }
  .insightinfo-pdf .lastitem {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 900px;
  }
  .insightinfo-pdf .lastitem .box {
    position: relative;
    width: 830px;
    margin-bottom: 0px;
  }
  .insightinfo-pdf .lastitem .box label {
    display: flex;
    align-items: center;
    width: 830px;
    height: 50px;
    margin-left: 0px;
  }
  .insightinfo-pdf .lastitem .box label img:hover {
    cursor: pointer;
  }
  .insightinfo-pdf .lastitem .box label .text {
    margin-left: 16px;
    color: #000;
    /* web. re.22 */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 127.273% */
  }
  .insightinfo-pdf .lastitem .box label p {
    margin-left: 16px;
    color: var(--Midium-gray, #9e9e9e);
    text-align: center;
    width: 650px;
    /* web. re.22 */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
  }
  .insightinfo-pdf .lastitem .box img {
    margin-left: 19px;
  }
  .insightinfo-text {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 124px;
    margin: auto;
    margin-top: 30px;
  }
  .insightinfo-text .head {
    width: 172px;
    display: inline-flex;
    padding: 8px 34px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--Light-gray, #f0f0f0);
  }
  .insightinfo-text textarea {
    width: 900px;
    padding: 5px;
    height: 80px;
    border: 1px solid #000;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .insightinfo-divider {
    width: 900px;
    height: 1px;
    margin: auto;
    margin-top: 60px;
    background-color: black;
  }
  .insightinfo-preview {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: -moz-fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 20px;
  }
  .insightinfo-preview .head {
    margin-bottom: 42px;
    color: #000;
    /* web. semi.40 */
    font-family: Pretendard;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 70% */
  }
  .insightinfo-preview iframe {
    width: 900px;
    margin-bottom: 30px;
    align-self: center;
    border: 3px solid black;
  }
}/*# sourceMappingURL=insightinfo.styles.css.map */