.dashboard {
  display: flex;
  flex-direction: column;
  width: calc(100% - 120px);
  height: 1080px;
  margin-left: 120px;
}
.dashboard-head {
  display: flex;
  flex-direction: row;
  width: 1500px;
  height: 45px;
  margin: auto;
  margin-top: 55px;
  margin-bottom: 0px;
  border-bottom: 1px solid black;
}
.dashboard-head .title {
  color: #000;
  /* semi 24 */
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 116.667% */
  margin-right: 907px;
}
.dashboard-head .reload {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 34px;
}
.dashboard-head .reload img {
  margin-right: 10px;
}
.dashboard-head .reload .text {
  color: #000;
  /* Web/Pre. Light 20 */
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28.5px; /* 142.5% */
}
.dashboard-head .reload:hover {
  cursor: pointer;
}
.dashboard-head .excel {
  display: inline-flex;
  height: 34px;
  padding: 2px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: var(--blue, #0d5699);
  color: #fff;
  /* Web/Pre. Light 20 */
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28.5px; /* 142.5% */
}
.dashboard-head .excel:hover {
  cursor: pointer;
  background: #093f71;
}
.dashboard-analystic {
  width: 1500px;
  height: 432px;
  margin: auto;
  margin-top: 32px;
  display: flex;
  flex-direction: row;
}
.dashboard-analystic .chart-container {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}
.dashboard-analystic .chart-container .range {
  width: 154px;
  height: 33px;
  display: flex;
  flex-direction: row;
  transition: 0.2s ease-in-out;
}
.dashboard-analystic .chart-container .range-month, .dashboard-analystic .chart-container .range-week {
  width: 77px;
  height: 33px;
  flex-shrink: 0;
  text-align: center;
  /* Web/Pre. Reg 22 */
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.5px; /* 138.636% */
  transition: 0.3s ease-in-out;
}
.dashboard-analystic .chart-container .range:hover {
  cursor: pointer;
}
.dashboard-analystic .chart-container .linechart {
  margin-left: -25px;
}
.dashboard-analystic .table {
  width: 395px;
  height: 410px;
  display: flex;
  flex-direction: column;
}
.dashboard-analystic .table-head {
  display: flex;
  flex-direction: row;
  width: 395px;
  height: 50px;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}
.dashboard-analystic .table-head .attr-w, .dashboard-analystic .table-head .attr-m {
  color: #000;
  margin-left: 200px;
  /* Web/Pre. Reg 22 */
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.5px; /* 138.636% */
}
.dashboard-analystic .table-head .attr-m {
  margin-left: 45px;
}
.dashboard-analystic .table-white, .dashboard-analystic .table-gray {
  display: flex;
  flex-direction: row;
  width: 395px;
  height: 40px;
  align-items: center;
}
.dashboard-analystic .table-white .attr, .dashboard-analystic .table-gray .attr {
  margin-left: 20px;
  font-size: 14px;
  width: 130px;
}
.dashboard-analystic .table-white .value-w, .dashboard-analystic .table-gray .value-w, .dashboard-analystic .table-white .value-m, .dashboard-analystic .table-gray .value-m {
  color: blue;
  width: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-left: 65px;
  text-align: center;
}
.dashboard-analystic .table-white .value-m, .dashboard-analystic .table-gray .value-m {
  margin-left: 67px;
}
.dashboard-analystic .table-gray {
  background-color: #f0f0f0;
}
.dashboard-statistic {
  width: 1500px;
  height: 422px;
  margin: auto;
  margin-top: 61px;
  margin-bottom: 21px;
}
.dashboard-statistic-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1500px;
  height: 44px;
  margin-bottom: 0px;
}
.dashboard-statistic-head .title {
  display: inline-flex;
  padding: 8px 34px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #000;
  color: #fff;
  /* semi 24 */
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 116.667% */
}
.dashboard-statistic-head .reload {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 34px;
}
.dashboard-statistic-head .reload img {
  margin-right: 10px;
}
.dashboard-statistic-head .reload .text {
  color: #000;
  /* Web/Pre. Light 20 */
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28.5px; /* 142.5% */
}
.dashboard-statistic-head .reload:hover {
  cursor: pointer;
}
.dashboard-statistic-body {
  display: flex;
  flex-direction: column;
  width: 1500px;
  height: 378px;
  border: 1px solid black;
  margin-top: 0px;
}
.dashboard-statistic-body .people {
  display: flex;
  flex-direction: row;
  width: 1500px;
  height: 205px;
}
.dashboard-statistic-body .people .researcher {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 110px;
  margin-top: 40px;
  margin-left: 35px;
}
.dashboard-statistic-body .people .researcher-head {
  width: 126px;
  height: 28px;
  margin-top: 0px;
  margin-left: 0px;
  color: var(--blue, #0d5699);
  /* web. re.22 */
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
  margin-bottom: 0px;
}
.dashboard-statistic-body .people .researcher-body {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 76px;
  flex-direction: row;
  align-items: end;
  margin-top: 6px;
  border-radius: 9px;
  background: var(--Light-gray, #f0f0f0);
}
.dashboard-statistic-body .people .researcher-body .number {
  color: #000;
  /* Pre.Semi 60 */
  font-family: Pretendard;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
}
.dashboard-statistic-body .people .researcher-body .unit {
  color: #000;
  /* web. semi.30 */
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
}
.dashboard-statistic-body .people .newsletter {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 110px;
  margin-top: 40px;
  margin-left: 40px;
}
.dashboard-statistic-body .people .newsletter-head {
  width: 207px;
  height: 28px;
  margin-top: 0px;
  margin-left: 0px;
  color: var(--blue, #0d5699);
  /* web. re.22 */
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
  margin-bottom: 0px;
}
.dashboard-statistic-body .people .newsletter-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-top: 0px;
  height: 76px;
  flex-direction: row;
  align-items: end;
  margin-top: 6px;
  border-radius: 9px;
  background: var(--Light-gray, #f0f0f0);
}
.dashboard-statistic-body .people .newsletter-body .number {
  color: #000;
  /* Pre.Semi 60 */
  font-family: Pretendard;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
}
.dashboard-statistic-body .people .newsletter-body .unit {
  color: #000;
  /* web. semi.30 */
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
}
.dashboard-statistic-body .people .orcagroup {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 110px;
  margin-top: 40px;
  margin-left: 40px;
}
.dashboard-statistic-body .people .orcagroup-head {
  width: 240px;
  height: 28px;
  margin-top: 0px;
  margin-left: 0px;
  color: var(--blue, #0d5699);
  /* web. re.22 */
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
  margin-bottom: 0px;
}
.dashboard-statistic-body .people .orcagroup-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-top: 0px;
  height: 76px;
  flex-direction: row;
  align-items: end;
  margin-top: 6px;
  border-radius: 9px;
  background: var(--Light-gray, #f0f0f0);
}
.dashboard-statistic-body .people .orcagroup-body .number {
  color: #000;
  /* Pre.Semi 60 */
  font-family: Pretendard;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
}
.dashboard-statistic-body .people .orcagroup-body .unit {
  color: #000;
  /* web. semi.30 */
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
}
.dashboard-statistic-body .document {
  display: flex;
  flex-direction: row;
  width: 1500px;
  height: 136px;
  margin-bottom: 29px;
}
.dashboard-statistic-body .document .project {
  display: flex;
  flex-direction: column;
  width: 680px;
  height: 136px;
  margin-left: 44px;
}
.dashboard-statistic-body .document .project-head {
  width: 120px;
  height: 28px;
  margin-top: 0px;
  margin-left: 0px;
  color: var(--blue, #0d5699);
  /* web. re.22 */
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
  margin-bottom: 0px;
}
.dashboard-statistic-body .document .project-body {
  width: 680px;
  height: 108px;
  display: flex;
  flex-direction: row;
}
.dashboard-statistic-body .document .project-body .active {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 6px;
}
.dashboard-statistic-body .document .project-body .active-zero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 76px;
  border-radius: 9px;
  background: var(--Light-gray, #f0f0f0);
  color: #000;
  text-align: center;
  /* web. semi.30 */
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
}
.dashboard-statistic-body .document .project-body .active-nonzero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 76px;
  border-radius: 9px;
  background: var(--Light-gray, #f0f0f0);
}
.dashboard-statistic-body .document .project-body .active-nonzero .number {
  color: #000;
  /* Pre.Semi 60 */
  font-family: Pretendard;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
}
.dashboard-statistic-body .document .project-body .active-nonzero .unit {
  color: #000;
  margin-top: 20px;
  /* web. semi.30 */
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 65px;
}
.dashboard-statistic-body .document .project-body .active-title {
  color: #000;
  margin-top: 6px;
  /* web. re.22 */
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
}
.dashboard-statistic-body .document .project-body .completed {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 6px;
  margin-left: 40px;
}
.dashboard-statistic-body .document .project-body .completed-zero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 76px;
  border-radius: 9px;
  background: var(--Light-gray, #f0f0f0);
  color: #000;
  text-align: center;
  /* web. semi.30 */
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
}
.dashboard-statistic-body .document .project-body .completed-nonzero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 76px;
  border-radius: 9px;
  background: var(--Light-gray, #f0f0f0);
}
.dashboard-statistic-body .document .project-body .completed-nonzero .number {
  color: #000;
  /* Pre.Semi 60 */
  font-family: Pretendard;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
}
.dashboard-statistic-body .document .project-body .completed-nonzero .unit {
  color: #000;
  margin-top: 20px;
  /* web. semi.30 */
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 55px;
}
.dashboard-statistic-body .document .project-body .completed-title {
  color: #000;
  margin-top: 6px;
  /* web. re.22 */
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
}
.dashboard-statistic-body .document .project-body .terminated {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 6px;
  margin-left: 40px;
}
.dashboard-statistic-body .document .project-body .terminated-zero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 76px;
  border-radius: 9px;
  background: var(--Light-gray, #f0f0f0);
  color: #000;
  text-align: center;
  /* web. semi.30 */
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
}
.dashboard-statistic-body .document .project-body .terminated-nonzero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 76px;
  border-radius: 9px;
  background: var(--Light-gray, #f0f0f0);
}
.dashboard-statistic-body .document .project-body .terminated-nonzero .number {
  color: #000;
  /* Pre.Semi 60 */
  font-family: Pretendard;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
}
.dashboard-statistic-body .document .project-body .terminated-nonzero .unit {
  color: #000;
  margin-top: 20px;
  /* web. semi.30 */
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 55px;
}
.dashboard-statistic-body .document .project-body .terminated-title {
  color: #000;
  margin-top: 6px;
  /* web. re.22 */
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
}
.dashboard-statistic-body .document .event {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 130px;
}
.dashboard-statistic-body .document .event-head {
  width: 440px;
  height: 28px;
  margin-top: 0px;
  margin-left: 0px;
  color: var(--blue, #0d5699);
  /* web. re.22 */
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
  margin-bottom: 0px;
}
.dashboard-statistic-body .document .event-body {
  width: 440px;
  height: 108px;
  display: flex;
  flex-direction: row;
}
.dashboard-statistic-body .document .event-body .last {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 6px;
}
.dashboard-statistic-body .document .event-body .last-zero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 76px;
  border-radius: 9px;
  background: var(--Light-gray, #f0f0f0);
  color: #000;
  text-align: center;
  /* web. semi.30 */
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
}
.dashboard-statistic-body .document .event-body .last-nonzero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 76px;
  border-radius: 9px;
  background: var(--Light-gray, #f0f0f0);
}
.dashboard-statistic-body .document .event-body .last-nonzero .number {
  color: #000;
  /* Pre.Semi 60 */
  font-family: Pretendard;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
}
.dashboard-statistic-body .document .event-body .last-nonzero .unit {
  color: #000;
  margin-top: 20px;
  /* web. semi.30 */
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 55px;
}
.dashboard-statistic-body .document .event-body .last-title {
  color: #000;
  margin-top: 6px;
  /* web. re.22 */
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
}
.dashboard-statistic-body .document .event-body .upcoming {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 6px;
  margin-left: 40px;
}
.dashboard-statistic-body .document .event-body .upcoming-zero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 76px;
  border-radius: 9px;
  background: var(--Light-gray, #f0f0f0);
  color: #000;
  text-align: center;
  /* web. semi.30 */
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
}
.dashboard-statistic-body .document .event-body .upcoming-nonzero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 76px;
  border-radius: 9px;
  background: var(--Light-gray, #f0f0f0);
}
.dashboard-statistic-body .document .event-body .upcoming-nonzero .number {
  color: #000;
  /* Pre.Semi 60 */
  font-family: Pretendard;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
}
.dashboard-statistic-body .document .event-body .upcoming-nonzero .unit {
  color: #000;
  margin-top: 20px;
  /* web. semi.30 */
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 55px;
}
.dashboard-statistic-body .document .event-body .upcoming-title {
  color: #000;
  margin-top: 6px;
  /* web. re.22 */
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
}

@media (max-width: 1400px) {
  .dashboard {
    display: flex;
    flex-direction: column;
    width: calc(100% - 120px);
    height: 1080px;
    margin-left: 120px;
  }
  .dashboard-head {
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 45px;
    margin: auto;
    margin-top: 55px;
    margin-bottom: 0px;
    border-bottom: 1px solid black;
  }
  .dashboard-head .title {
    color: #000;
    /* semi 24 */
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 116.667% */
    margin-right: 307px;
  }
  .dashboard-head .reload {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 34px;
  }
  .dashboard-head .reload img {
    margin-right: 10px;
  }
  .dashboard-head .reload .text {
    color: #000;
    /* Web/Pre. Light 20 */
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28.5px; /* 142.5% */
  }
  .dashboard-head .reload:hover {
    cursor: pointer;
  }
  .dashboard-head .excel {
    display: inline-flex;
    height: 34px;
    padding: 2px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background: var(--blue, #0d5699);
    color: #fff;
    /* Web/Pre. Light 20 */
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28.5px; /* 142.5% */
  }
  .dashboard-head .excel:hover {
    cursor: pointer;
    background: #093f71;
  }
  .dashboard-analystic {
    width: 900px;
    height: 432px;
    margin: auto;
    margin-top: 32px;
  }
  .dashboard-analystic .chart-container {
    width: 650px;
    margin-right: 0px;
  }
  .dashboard-analystic .table {
    width: 250px;
  }
  .dashboard-analystic .table-head {
    width: 250px;
  }
  .dashboard-analystic .table-head .attr-w, .dashboard-analystic .table-head .attr-m {
    margin-left: 140px;
    font-size: 15px;
  }
  .dashboard-analystic .table-head .attr-m {
    margin-left: 30px;
  }
  .dashboard-analystic .table-white, .dashboard-analystic .table-gray {
    width: 250px;
  }
  .dashboard-analystic .table-white .attr, .dashboard-analystic .table-gray .attr {
    font-size: 11px;
    width: 100px;
  }
  .dashboard-analystic .table-white .value-w, .dashboard-analystic .table-gray .value-w, .dashboard-analystic .table-white .value-m, .dashboard-analystic .table-gray .value-m {
    margin-left: 25px;
  }
  .dashboard-analystic .table-white .value-m, .dashboard-analystic .table-gray .value-m {
    margin-left: 35px;
  }
  .dashboard-statistic {
    width: 900px;
    height: 422px;
    margin: auto;
    margin-top: 61px;
    margin-bottom: 21px;
  }
  .dashboard-statistic-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 900px;
    height: 44px;
    margin-bottom: 0px;
  }
  .dashboard-statistic-head .title {
    display: inline-flex;
    padding: 8px 34px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #000;
    color: #fff;
    /* semi 24 */
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 116.667% */
  }
  .dashboard-statistic-head .reload {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 34px;
  }
  .dashboard-statistic-head .reload img {
    margin-right: 10px;
  }
  .dashboard-statistic-head .reload .text {
    color: #000;
    /* Web/Pre. Light 20 */
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28.5px; /* 142.5% */
  }
  .dashboard-statistic-head .reload:hover {
    cursor: pointer;
  }
  .dashboard-statistic-body {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 378px;
    border: 1px solid black;
    margin-top: 0px;
  }
  .dashboard-statistic-body .people {
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 205px;
  }
  .dashboard-statistic-body .people .researcher {
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 110px;
    margin-top: 40px;
    margin-left: 30px;
  }
  .dashboard-statistic-body .people .researcher-head {
    width: 126px;
    height: 28px;
    margin-top: 0px;
    margin-left: 0px;
    color: var(--blue, #0d5699);
    /* web. re.22 */
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
    margin-bottom: 0px;
  }
  .dashboard-statistic-body .people .researcher-body {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 76px;
    flex-direction: row;
    align-items: end;
    margin-top: 6px;
    border-radius: 9px;
    background: var(--Light-gray, #f0f0f0);
  }
  .dashboard-statistic-body .people .researcher-body .number {
    color: #000;
    /* Pre.Semi 60 */
    font-family: Pretendard;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
  }
  .dashboard-statistic-body .people .researcher-body .unit {
    color: #000;
    /* web. semi.30 */
    font-family: Pretendard;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
  }
  .dashboard-statistic-body .people .newsletter {
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 110px;
    margin-top: 40px;
    margin-left: 35px;
  }
  .dashboard-statistic-body .people .newsletter-head {
    width: 150px;
    height: 28px;
    margin-top: 0px;
    margin-left: 0px;
    color: var(--blue, #0d5699);
    /* web. re.22 */
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
    margin-bottom: 0px;
  }
  .dashboard-statistic-body .people .newsletter-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    margin-top: 0px;
    height: 76px;
    flex-direction: row;
    align-items: end;
    margin-top: 6px;
    border-radius: 9px;
    background: var(--Light-gray, #f0f0f0);
  }
  .dashboard-statistic-body .people .newsletter-body .number {
    color: #000;
    /* Pre.Semi 60 */
    font-family: Pretendard;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
  }
  .dashboard-statistic-body .people .newsletter-body .unit {
    color: #000;
    /* web. semi.30 */
    font-family: Pretendard;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
  }
  .dashboard-statistic-body .people .orcagroup {
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 110px;
    margin-top: 40px;
    margin-left: 35px;
  }
  .dashboard-statistic-body .people .orcagroup-head {
    width: 200px;
    height: 28px;
    margin-top: 0px;
    margin-left: 0px;
    color: var(--blue, #0d5699);
    /* web. re.22 */
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
    margin-bottom: 0px;
  }
  .dashboard-statistic-body .people .orcagroup-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    margin-top: 0px;
    height: 76px;
    flex-direction: row;
    align-items: end;
    margin-top: 6px;
    border-radius: 9px;
    background: var(--Light-gray, #f0f0f0);
  }
  .dashboard-statistic-body .people .orcagroup-body .number {
    color: #000;
    /* Pre.Semi 60 */
    font-family: Pretendard;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
  }
  .dashboard-statistic-body .people .orcagroup-body .unit {
    color: #000;
    /* web. semi.30 */
    font-family: Pretendard;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
  }
  .dashboard-statistic-body .document {
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 136px;
    margin-bottom: 29px;
  }
  .dashboard-statistic-body .document .project {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 136px;
    margin-left: 35px;
  }
  .dashboard-statistic-body .document .project-head {
    width: 120px;
    height: 28px;
    margin-top: 0px;
    margin-left: 0px;
    color: var(--blue, #0d5699);
    /* web. re.22 */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
    margin-bottom: 0px;
  }
  .dashboard-statistic-body .document .project-body {
    width: 450px;
    height: 108px;
    display: flex;
    flex-direction: row;
  }
  .dashboard-statistic-body .document .project-body .active {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 6px;
  }
  .dashboard-statistic-body .document .project-body .active-zero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 76px;
    border-radius: 9px;
    background: var(--Light-gray, #f0f0f0);
    color: #000;
    text-align: center;
    /* web. semi.30 */
    font-family: Pretendard;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
  }
  .dashboard-statistic-body .document .project-body .active-nonzero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 76px;
    border-radius: 9px;
    background: var(--Light-gray, #f0f0f0);
  }
  .dashboard-statistic-body .document .project-body .active-nonzero .number {
    color: #000;
    /* Pre.Semi 60 */
    font-family: Pretendard;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
  }
  .dashboard-statistic-body .document .project-body .active-nonzero .unit {
    color: #000;
    margin-top: 20px;
    /* web. semi.30 */
    font-family: Pretendard;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 65px;
  }
  .dashboard-statistic-body .document .project-body .active-title {
    color: #000;
    margin-top: 6px;
    /* web. re.22 */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
  }
  .dashboard-statistic-body .document .project-body .completed {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 6px;
    margin-left: 35px;
  }
  .dashboard-statistic-body .document .project-body .completed-zero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 76px;
    border-radius: 9px;
    background: var(--Light-gray, #f0f0f0);
    color: #000;
    text-align: center;
    /* web. semi.30 */
    font-family: Pretendard;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
  }
  .dashboard-statistic-body .document .project-body .completed-nonzero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 76px;
    border-radius: 9px;
    background: var(--Light-gray, #f0f0f0);
  }
  .dashboard-statistic-body .document .project-body .completed-nonzero .number {
    color: #000;
    /* Pre.Semi 60 */
    font-family: Pretendard;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
  }
  .dashboard-statistic-body .document .project-body .completed-nonzero .unit {
    color: #000;
    margin-top: 20px;
    /* web. semi.30 */
    font-family: Pretendard;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 55px;
  }
  .dashboard-statistic-body .document .project-body .completed-title {
    color: #000;
    margin-top: 6px;
    /* web. re.22 */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
  }
  .dashboard-statistic-body .document .project-body .terminated {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 6px;
    margin-left: 35px;
  }
  .dashboard-statistic-body .document .project-body .terminated-zero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 76px;
    border-radius: 9px;
    background: var(--Light-gray, #f0f0f0);
    color: #000;
    text-align: center;
    /* web. semi.30 */
    font-family: Pretendard;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
  }
  .dashboard-statistic-body .document .project-body .terminated-nonzero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 76px;
    border-radius: 9px;
    background: var(--Light-gray, #f0f0f0);
  }
  .dashboard-statistic-body .document .project-body .terminated-nonzero .number {
    color: #000;
    /* Pre.Semi 60 */
    font-family: Pretendard;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
  }
  .dashboard-statistic-body .document .project-body .terminated-nonzero .unit {
    color: #000;
    /* web. semi.30 */
    font-family: Pretendard;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 55px;
  }
  .dashboard-statistic-body .document .project-body .terminated-title {
    color: #000;
    margin-top: 6px;
    /* web. re.22 */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
  }
  .dashboard-statistic-body .document .event {
    display: flex;
    flex-direction: column;
    width: 440px;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: 80px;
  }
  .dashboard-statistic-body .document .event-head {
    width: 440px;
    height: 28px;
    margin-top: 0px;
    margin-left: 0px;
    color: var(--blue, #0d5699);
    /* web. re.22 */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
    margin-bottom: 0px;
  }
  .dashboard-statistic-body .document .event-body {
    width: 290px;
    height: 108px;
    display: flex;
    flex-direction: row;
  }
  .dashboard-statistic-body .document .event-body .last {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 6px;
  }
  .dashboard-statistic-body .document .event-body .last-zero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 76px;
    border-radius: 9px;
    background: var(--Light-gray, #f0f0f0);
    color: #000;
    text-align: center;
    /* web. semi.30 */
    font-family: Pretendard;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
  }
  .dashboard-statistic-body .document .event-body .last-nonzero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 76px;
    border-radius: 9px;
    background: var(--Light-gray, #f0f0f0);
  }
  .dashboard-statistic-body .document .event-body .last-nonzero .number {
    color: #000;
    /* Pre.Semi 60 */
    font-family: Pretendard;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
  }
  .dashboard-statistic-body .document .event-body .last-nonzero .unit {
    color: #000;
    margin-top: 20px;
    /* web. semi.30 */
    font-family: Pretendard;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 55px;
  }
  .dashboard-statistic-body .document .event-body .last-title {
    color: #000;
    margin-top: 6px;
    /* web. re.22 */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
  }
  .dashboard-statistic-body .document .event-body .upcoming {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 6px;
    margin-left: 40px;
  }
  .dashboard-statistic-body .document .event-body .upcoming-zero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 76px;
    border-radius: 9px;
    background: var(--Light-gray, #f0f0f0);
    color: #000;
    text-align: center;
    /* web. semi.30 */
    font-family: Pretendard;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
  }
  .dashboard-statistic-body .document .event-body .upcoming-nonzero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 76px;
    border-radius: 9px;
    background: var(--Light-gray, #f0f0f0);
  }
  .dashboard-statistic-body .document .event-body .upcoming-nonzero .number {
    color: #000;
    /* Pre.Semi 60 */
    font-family: Pretendard;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
  }
  .dashboard-statistic-body .document .event-body .upcoming-nonzero .unit {
    color: #000;
    /* web. semi.30 */
    font-family: Pretendard;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 55px;
  }
  .dashboard-statistic-body .document .event-body .upcoming-title {
    color: #000;
    margin-top: 6px;
    /* web. re.22 */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
  }
}/*# sourceMappingURL=dashboard.styles.css.map */