.dashboard {
	display: flex;
	flex-direction: column;
	width: calc(100% - 120px);
	height: 1080px;
	margin-left: 120px;
	&-head {
		display: flex;
		flex-direction: row;
		width: 1500px;
		height: 45px;
		margin: auto;
		margin-top: 55px;
		margin-bottom: 0px;
		border-bottom: 1px solid black;
		.title {
			color: #000;

			/* semi 24 */
			font-family: Pretendard;
			font-size: 24px;
			font-style: normal;
			font-weight: 600;
			line-height: 28px; /* 116.667% */
			margin-right: 907px;
		}
		.reload {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			width: 130px;
			height: 34px;
			img {
				margin-right: 10px;
			}
			.text {
				color: #000;

				/* Web/Pre. Light 20 */
				font-family: Pretendard;
				font-size: 20px;
				font-style: normal;
				font-weight: 300;
				line-height: 28.5px; /* 142.5% */
			}
		}
		.reload:hover {
			cursor: pointer;
		}
		.excel {
			display: inline-flex;
			//width: 181px;
			height: 34px;
			padding: 2px 40px;
			justify-content: center;
			align-items: center;
			gap: 10px;
			flex-shrink: 0;
			background: var(--blue, #0d5699);
			color: #fff;

			/* Web/Pre. Light 20 */
			font-family: Pretendard;
			font-size: 20px;
			font-style: normal;
			font-weight: 300;
			line-height: 28.5px; /* 142.5% */
		}
		.excel:hover {
			cursor: pointer;
			background: #093f71;
		}
	}
	&-analystic {
		width: 1500px;
		height: 432px;
		margin: auto;
		margin-top: 32px;
		background-color: #0d5699;
	}
	&-statistic {
		width: 1500px;
		height: 422px;
		margin: auto;
		margin-top: 61px;
		margin-bottom: 21px;
		&-head {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			width: 1500px;
			height: 44px;
			margin-bottom: 0px;
			.title {
				display: inline-flex;
				padding: 8px 34px;
				justify-content: center;
				align-items: center;
				gap: 10px;
				background: #000;
				color: #fff;

				/* semi 24 */
				font-family: Pretendard;
				font-size: 24px;
				font-style: normal;
				font-weight: 600;
				line-height: 28px; /* 116.667% */
			}
			.reload {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				width: 130px;
				height: 34px;
				img {
					margin-right: 10px;
				}
				.text {
					color: #000;

					/* Web/Pre. Light 20 */
					font-family: Pretendard;
					font-size: 20px;
					font-style: normal;
					font-weight: 300;
					line-height: 28.5px; /* 142.5% */
				}
			}
			.reload:hover {
				cursor: pointer;
			}
		}
		&-body {
			display: flex;
			flex-direction: column;
			width: 1500px;
			height: 378px;
			border: 1px solid black;
			margin-top: 0px;
			.people {
				display: flex;
				flex-direction: row;
				//align-items: end;
				width: 1500px;
				height: 205px;
				//margin-bottom: 60px;
				.researcher {
					display: flex;
					flex-direction: column;
					width: 200px;
					height: 110px;
					margin-top: 40px;
					margin-left: 35px;
					//margin-bottom: 60px;
					&-head {
						width: 126px;
						height: 28px;
						margin-top: 0px;
						margin-left: 0px;
						color: var(--blue, #0d5699);

						/* web. re.22 */
						font-family: Pretendard;
						font-size: 22px;
						font-style: normal;
						font-weight: 400;
						line-height: 28px; /* 127.273% */
						margin-bottom: 0px;
					}
					&-body {
						width: 200px;
						display: flex;
						align-items: center;
						justify-content: center;
						height: 76px;
						flex-direction: row;
						align-items: end;
						margin-top: 6px;
						border-radius: 9px;
						background: var(--Light-gray, #f0f0f0);

						.number {
							color: #000;
							//text-align: center;
							/* Pre.Semi 60 */
							font-family: Pretendard;
							font-size: 60px;
							font-style: normal;
							font-weight: 600;
							//line-height: 28px; /* 46.667% */
						}
						.unit {
							color: #000;

							/* web. semi.30 */
							font-family: Pretendard;
							font-size: 30px;
							font-style: normal;
							font-weight: 600;
							line-height: 50px;
							//line-height: px;
						}
					}
				}
				.newsletter {
					display: flex;
					flex-direction: column;
					width: 200px;
					height: 110px;
					margin-top: 40px;
					margin-left: 40px;

					//margin-bottom: 60px;

					&-head {
						width: 207px;
						height: 28px;
						margin-top: 0px;
						margin-left: 0px;
						color: var(--blue, #0d5699);

						/* web. re.22 */
						font-family: Pretendard;
						font-size: 22px;
						font-style: normal;
						font-weight: 400;
						line-height: 28px; /* 127.273% */
						margin-bottom: 0px;
					}
					&-body {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 200px;
						margin-top: 0px;
						height: 76px;
						flex-direction: row;
						align-items: end;
						margin-top: 6px;
						border-radius: 9px;
						background: var(--Light-gray, #f0f0f0);
						.number {
							color: #000;

							/* Pre.Semi 60 */
							font-family: Pretendard;
							font-size: 60px;
							font-style: normal;
							font-weight: 600;
							//line-height: 28px; /* 46.667% */
						}
						.unit {
							color: #000;

							/* web. semi.30 */
							font-family: Pretendard;
							font-size: 30px;
							font-style: normal;
							font-weight: 600;
							line-height: 50px;
							//line-height: px;
						}
					}
				}
				.orcagroup {
					display: flex;
					flex-direction: column;
					width: 200px;
					height: 110px;
					margin-top: 40px;
					margin-left: 40px;
					//margin-bottom: 60px;

					&-head {
						width: 240px;
						height: 28px;
						margin-top: 0px;
						margin-left: 0px;
						color: var(--blue, #0d5699);

						/* web. re.22 */
						font-family: Pretendard;
						font-size: 22px;
						font-style: normal;
						font-weight: 400;
						line-height: 28px; /* 127.273% */
						margin-bottom: 0px;
					}
					&-body {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 200px;
						margin-top: 0px;
						height: 76px;
						flex-direction: row;
						align-items: end;
						margin-top: 6px;
						border-radius: 9px;
						background: var(--Light-gray, #f0f0f0);
						.number {
							color: #000;

							/* Pre.Semi 60 */
							font-family: Pretendard;
							font-size: 60px;
							font-style: normal;
							font-weight: 600;
							//line-height: 28px; /* 46.667% */
						}
						.unit {
							color: #000;

							/* web. semi.30 */
							font-family: Pretendard;
							font-size: 30px;
							font-style: normal;
							font-weight: 600;
							line-height: 50px;
							//line-height: px;
						}
					}
				}
			}
			.document {
				display: flex;
				flex-direction: row;
				//align-items: end;
				width: 1500px;
				height: 136px;
				margin-bottom: 29px;
				.project {
					display: flex;
					flex-direction: column;
					width: 680px;
					height: 136px;
					margin-left: 44px;
					&-head {
						width: 120px;
						height: 28px;
						margin-top: 0px;
						margin-left: 0px;
						color: var(--blue, #0d5699);

						/* web. re.22 */
						font-family: Pretendard;
						font-size: 22px;
						font-style: normal;
						font-weight: 400;
						line-height: 28px; /* 127.273% */
						margin-bottom: 0px;
					}
					&-body {
						width: 680px;
						height: 108px;
						display: flex;
						flex-direction: row;
						.active {
							display: flex;
							flex-direction: column;
							align-items: center;
							width: 200px;
							height: fit-content;
							margin-top: 6px;
							&-zero {
								display: flex;
								flex-direction: row;
								justify-content: center;
								align-items: center;
								width: 200px;
								height: 76px;
								border-radius: 9px;
								background: var(--Light-gray, #f0f0f0);
								color: #000;
								text-align: center;
								/* web. semi.30 */
								font-family: Pretendard;
								font-size: 30px;
								font-style: normal;
								font-weight: 600;
							}
							&-nonzero {
								display: flex;
								flex-direction: row;
								justify-content: center;
								align-items: center;
								width: 200px;
								height: 76px;
								border-radius: 9px;
								background: var(--Light-gray, #f0f0f0);
								.number {
									color: #000;

									/* Pre.Semi 60 */
									font-family: Pretendard;
									font-size: 60px;
									font-style: normal;
									font-weight: 600;
									line-height: 35px;
									//line-height: 28px; /* 46.667% */
								}
								.unit {
									color: #000;
									margin-top: 20px;
									/* web. semi.30 */
									font-family: Pretendard;
									font-size: 30px;
									font-style: normal;
									font-weight: 600;
									line-height: 65px;
								}
							}
							&-title {
								color: #000;
								margin-top: 6px;
								/* web. re.22 */
								font-family: Pretendard;
								font-size: 22px;
								font-style: normal;
								font-weight: 400;
								line-height: 28px; /* 127.273% */
							}
						}
						.completed {
							display: flex;
							flex-direction: column;
							align-items: center;
							width: 200px;
							height: fit-content;
							margin-top: 6px;
							margin-left: 40px;
							&-zero {
								display: flex;
								flex-direction: row;
								justify-content: center;
								align-items: center;
								width: 200px;
								height: 76px;
								border-radius: 9px;
								background: var(--Light-gray, #f0f0f0);

								color: #000;
								text-align: center;
								/* web. semi.30 */
								font-family: Pretendard;
								font-size: 30px;
								font-style: normal;
								font-weight: 600;
							}
							&-nonzero {
								display: flex;
								flex-direction: row;
								justify-content: center;
								align-items: center;
								width: 200px;
								height: 76px;
								border-radius: 9px;
								background: var(--Light-gray, #f0f0f0);
								.number {
									color: #000;

									/* Pre.Semi 60 */
									font-family: Pretendard;
									font-size: 60px;
									font-style: normal;
									font-weight: 600;
									line-height: 35px;
									//line-height: 28px; /* 46.667% */
								}
								.unit {
									color: #000;
									margin-top: 20px;
									/* web. semi.30 */
									font-family: Pretendard;
									font-size: 30px;
									font-style: normal;
									font-weight: 600;
									line-height: 55px;
								}
							}
							&-title {
								color: #000;
								margin-top: 6px;
								/* web. re.22 */
								font-family: Pretendard;
								font-size: 22px;
								font-style: normal;
								font-weight: 400;
								line-height: 28px; /* 127.273% */
							}
						}

						.terminated {
							display: flex;
							flex-direction: column;
							align-items: center;
							width: 200px;
							height: fit-content;
							margin-top: 6px;
							margin-left: 40px;
							&-zero {
								display: flex;
								flex-direction: row;
								justify-content: center;
								align-items: center;
								width: 200px;
								height: 76px;
								border-radius: 9px;
								background: var(--Light-gray, #f0f0f0);
								//margin-bottom: 19px;
								color: #000;
								text-align: center;
								/* web. semi.30 */
								font-family: Pretendard;
								font-size: 30px;
								font-style: normal;
								font-weight: 600;
							}
							&-nonzero {
								display: flex;
								flex-direction: row;
								.number {
									color: #000;

									/* Pre.Semi 60 */
									font-family: Pretendard;
									font-size: 60px;
									font-style: normal;
									font-weight: 600;
									line-height: 35px;
									//line-height: 28px; /* 46.667% */
								}
								.unit {
									color: #000;

									/* web. semi.30 */
									font-family: Pretendard;
									font-size: 30px;
									font-style: normal;
									font-weight: 600;
									line-height: 55px;
								}
							}
							&-title {
								color: #000;
								margin-top: 6px;
								/* web. re.22 */
								font-family: Pretendard;
								font-size: 22px;
								font-style: normal;
								font-weight: 400;
								line-height: 28px; /* 127.273% */
							}
						}
					}
				}
				.event {
					display: flex;
					flex-direction: column;
					width: 440px;
					height: fit-content;
					margin-left: 130px;
					&-head {
						width: 440px;
						height: 28px;
						margin-top: 0px;
						margin-left: 0px;
						color: var(--blue, #0d5699);

						/* web. re.22 */
						font-family: Pretendard;
						font-size: 22px;
						font-style: normal;
						font-weight: 400;
						line-height: 28px; /* 127.273% */
						margin-bottom: 0px;
					}
					&-body {
						width: 440px;
						height: 108px;
						display: flex;
						flex-direction: row;
						.last {
							display: flex;
							flex-direction: column;
							align-items: center;
							width: 200px;
							height: fit-content;
							margin-top: 6px;
							&-zero {
								display: flex;
								flex-direction: row;
								justify-content: center;
								align-items: center;
								width: 200px;
								height: 76px;
								border-radius: 9px;
								background: var(--Light-gray, #f0f0f0);
								//margin-bottom: 19px;
								color: #000;
								text-align: center;
								/* web. semi.30 */
								font-family: Pretendard;
								font-size: 30px;
								font-style: normal;
								font-weight: 600;
							}
							&-nonzero {
								display: flex;
								flex-direction: row;
								justify-content: center;
								align-items: center;
								width: 200px;
								height: 76px;
								border-radius: 9px;
								background: var(--Light-gray, #f0f0f0);
								.number {
									color: #000;

									/* Pre.Semi 60 */
									font-family: Pretendard;
									font-size: 60px;
									font-style: normal;
									font-weight: 600;
									line-height: 35px;
									//line-height: 28px; /* 46.667% */
								}
								.unit {
									color: #000;
									margin-top: 20px;
									/* web. semi.30 */
									font-family: Pretendard;
									font-size: 30px;
									font-style: normal;
									font-weight: 600;
									line-height: 55px;
								}
							}
							&-title {
								color: #000;
								margin-top: 6px;
								/* web. re.22 */
								font-family: Pretendard;
								font-size: 20px;
								font-style: normal;
								font-weight: 400;
								line-height: 28px; /* 127.273% */
							}
						}
						.upcoming {
							display: flex;
							flex-direction: column;
							align-items: center;
							width: 200px;
							height: fit-content;
							margin-top: 6px;
							margin-left: 40px;
							&-zero {
								display: flex;
								flex-direction: row;
								justify-content: center;
								align-items: center;
								width: 200px;
								height: 76px;
								border-radius: 9px;
								background: var(--Light-gray, #f0f0f0);

								color: #000;
								text-align: center;
								/* web. semi.30 */
								font-family: Pretendard;
								font-size: 30px;
								font-style: normal;
								font-weight: 600;
							}
							&-nonzero {
								display: flex;
								flex-direction: row;
								justify-content: center;
								align-items: center;
								width: 200px;
								height: 76px;
								border-radius: 9px;
								background: var(--Light-gray, #f0f0f0);
								.number {
									color: #000;

									/* Pre.Semi 60 */
									font-family: Pretendard;
									font-size: 60px;
									font-style: normal;
									font-weight: 600;
									line-height: 35px;
									//line-height: 28px; /* 46.667% */
								}
								.unit {
									color: #000;

									/* web. semi.30 */
									font-family: Pretendard;
									font-size: 30px;
									font-style: normal;
									font-weight: 600;
									line-height: 55px;
								}
							}
							&-title {
								color: #000;
								margin-top: 6px;
								/* web. re.22 */
								font-family: Pretendard;
								font-size: 20px;
								font-style: normal;
								font-weight: 400;
								line-height: 28px; /* 127.273% */
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1400px) {
	.dashboard {
		display: flex;
		flex-direction: column;
		width: calc(100% - 120px);
		height: 1080px;
		margin-left: 120px;
		&-head {
			display: flex;
			flex-direction: row;
			width: 900px;
			height: 45px;
			margin: auto;
			margin-top: 55px;
			margin-bottom: 0px;
			border-bottom: 1px solid black;
			.title {
				color: #000;

				/* semi 24 */
				font-family: Pretendard;
				font-size: 24px;
				font-style: normal;
				font-weight: 600;
				line-height: 28px; /* 116.667% */
				margin-right: 307px;
			}
			.reload {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				width: 130px;
				height: 34px;
				img {
					margin-right: 10px;
				}
				.text {
					color: #000;

					/* Web/Pre. Light 20 */
					font-family: Pretendard;
					font-size: 20px;
					font-style: normal;
					font-weight: 300;
					line-height: 28.5px; /* 142.5% */
				}
			}
			.reload:hover {
				cursor: pointer;
			}
			.excel {
				display: inline-flex;
				//width: 181px;
				height: 34px;
				padding: 2px 40px;
				justify-content: center;
				align-items: center;
				gap: 10px;
				flex-shrink: 0;
				background: var(--blue, #0d5699);
				color: #fff;

				/* Web/Pre. Light 20 */
				font-family: Pretendard;
				font-size: 20px;
				font-style: normal;
				font-weight: 300;
				line-height: 28.5px; /* 142.5% */
			}
			.excel:hover {
				cursor: pointer;
				background: #093f71;
			}
		}
		&-analystic {
			width: 900px;
			height: 432px;
			margin: auto;
			margin-top: 32px;
			background-color: #0d5699;
		}
		&-statistic {
			width: 900px;
			height: 422px;
			margin: auto;
			margin-top: 61px;
			margin-bottom: 21px;
			&-head {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				width: 900px;
				height: 44px;
				margin-bottom: 0px;
				.title {
					display: inline-flex;
					padding: 8px 34px;
					justify-content: center;
					align-items: center;
					gap: 10px;
					background: #000;
					color: #fff;

					/* semi 24 */
					font-family: Pretendard;
					font-size: 24px;
					font-style: normal;
					font-weight: 600;
					line-height: 28px; /* 116.667% */
				}
				.reload {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					width: 130px;
					height: 34px;
					img {
						margin-right: 10px;
					}
					.text {
						color: #000;

						/* Web/Pre. Light 20 */
						font-family: Pretendard;
						font-size: 20px;
						font-style: normal;
						font-weight: 300;
						line-height: 28.5px; /* 142.5% */
					}
				}
				.reload:hover {
					cursor: pointer;
				}
			}
			&-body {
				display: flex;
				flex-direction: column;
				width: 900px;
				height: 378px;
				border: 1px solid black;
				margin-top: 0px;
				.people {
					display: flex;
					flex-direction: row;
					//align-items: end;
					width: 900px;
					height: 205px;
					//margin-bottom: 60px;
					.researcher {
						display: flex;
						flex-direction: column;
						width: 130px;
						height: 110px;
						margin-top: 40px;
						margin-left: 30px;
						//margin-bottom: 60px;
						&-head {
							width: 126px;
							height: 28px;
							margin-top: 0px;
							margin-left: 0px;
							color: var(--blue, #0d5699);

							/* web. re.22 */
							font-family: Pretendard;
							font-size: 15px;
							font-style: normal;
							font-weight: 400;
							line-height: 28px; /* 127.273% */
							margin-bottom: 0px;
						}
						&-body {
							width: 130px;
							display: flex;
							align-items: center;
							justify-content: center;
							height: 76px;
							flex-direction: row;
							align-items: end;
							margin-top: 6px;
							border-radius: 9px;
							background: var(--Light-gray, #f0f0f0);

							.number {
								color: #000;
								//text-align: center;
								/* Pre.Semi 60 */
								font-family: Pretendard;
								font-size: 60px;
								font-style: normal;
								font-weight: 600;
								//line-height: 28px; /* 46.667% */
							}
							.unit {
								color: #000;

								/* web. semi.30 */
								font-family: Pretendard;
								font-size: 30px;
								font-style: normal;
								font-weight: 600;
								line-height: 50px;
								//line-height: px;
							}
						}
					}
					.newsletter {
						display: flex;
						flex-direction: column;
						width: 130px;
						height: 110px;
						margin-top: 40px;
						margin-left: 35px;

						//margin-bottom: 60px;

						&-head {
							width: 150px;
							height: 28px;
							margin-top: 0px;
							margin-left: 0px;
							color: var(--blue, #0d5699);

							/* web. re.22 */
							font-family: Pretendard;
							font-size: 15px;
							font-style: normal;
							font-weight: 400;
							line-height: 28px; /* 127.273% */
							margin-bottom: 0px;
						}
						&-body {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 130px;
							margin-top: 0px;
							height: 76px;
							flex-direction: row;
							align-items: end;
							margin-top: 6px;
							border-radius: 9px;
							background: var(--Light-gray, #f0f0f0);
							.number {
								color: #000;

								/* Pre.Semi 60 */
								font-family: Pretendard;
								font-size: 60px;
								font-style: normal;
								font-weight: 600;
								//line-height: 28px; /* 46.667% */
							}
							.unit {
								color: #000;

								/* web. semi.30 */
								font-family: Pretendard;
								font-size: 30px;
								font-style: normal;
								font-weight: 600;
								line-height: 50px;
								//line-height: px;
							}
						}
					}
					.orcagroup {
						display: flex;
						flex-direction: column;
						width: 130px;
						height: 110px;
						margin-top: 40px;
						margin-left: 35px;
						//margin-bottom: 60px;

						&-head {
							width: 200px;
							height: 28px;
							margin-top: 0px;
							margin-left: 0px;
							color: var(--blue, #0d5699);

							/* web. re.22 */
							font-family: Pretendard;
							font-size: 15px;
							font-style: normal;
							font-weight: 400;
							line-height: 28px; /* 127.273% */
							margin-bottom: 0px;
						}
						&-body {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 130px;
							margin-top: 0px;
							height: 76px;
							flex-direction: row;
							align-items: end;
							margin-top: 6px;
							border-radius: 9px;
							background: var(--Light-gray, #f0f0f0);
							.number {
								color: #000;

								/* Pre.Semi 60 */
								font-family: Pretendard;
								font-size: 60px;
								font-style: normal;
								font-weight: 600;
								//line-height: 28px; /* 46.667% */
							}
							.unit {
								color: #000;

								/* web. semi.30 */
								font-family: Pretendard;
								font-size: 30px;
								font-style: normal;
								font-weight: 600;
								line-height: 50px;
								//line-height: px;
							}
						}
					}
				}
				.document {
					display: flex;
					flex-direction: row;
					//align-items: end;
					width: 900px;
					height: 136px;
					margin-bottom: 29px;
					.project {
						display: flex;
						flex-direction: column;
						width: 450px;
						height: 136px;
						margin-left: 35px;
						&-head {
							width: 120px;
							height: 28px;
							margin-top: 0px;
							margin-left: 0px;
							color: var(--blue, #0d5699);

							/* web. re.22 */
							font-family: Pretendard;
							font-size: 16px;
							font-style: normal;
							font-weight: 400;
							line-height: 28px; /* 127.273% */
							margin-bottom: 0px;
						}
						&-body {
							width: 450px;
							height: 108px;
							display: flex;
							flex-direction: row;
							.active {
								display: flex;
								flex-direction: column;
								align-items: center;
								width: 130px;
								height: fit-content;
								margin-top: 6px;
								&-zero {
									display: flex;
									flex-direction: row;
									justify-content: center;
									align-items: center;
									width: 130px;
									height: 76px;
									border-radius: 9px;
									background: var(--Light-gray, #f0f0f0);
									color: #000;
									text-align: center;
									/* web. semi.30 */
									font-family: Pretendard;
									font-size: 30px;
									font-style: normal;
									font-weight: 600;
								}
								&-nonzero {
									display: flex;
									flex-direction: row;
									justify-content: center;
									align-items: center;
									width: 130px;
									height: 76px;
									border-radius: 9px;
									background: var(--Light-gray, #f0f0f0);
									.number {
										color: #000;

										/* Pre.Semi 60 */
										font-family: Pretendard;
										font-size: 60px;
										font-style: normal;
										font-weight: 600;
										line-height: 35px;
										//line-height: 28px; /* 46.667% */
									}
									.unit {
										color: #000;
										margin-top: 20px;
										/* web. semi.30 */
										font-family: Pretendard;
										font-size: 30px;
										font-style: normal;
										font-weight: 600;
										line-height: 65px;
									}
								}
								&-title {
									color: #000;
									margin-top: 6px;
									/* web. re.22 */
									font-family: Pretendard;
									font-size: 16px;
									font-style: normal;
									font-weight: 400;
									line-height: 28px; /* 127.273% */
								}
							}
							.completed {
								display: flex;
								flex-direction: column;
								align-items: center;
								width: 130px;
								height: fit-content;
								margin-top: 6px;
								margin-left: 35px;
								&-zero {
									display: flex;
									flex-direction: row;
									justify-content: center;
									align-items: center;
									width: 130px;
									height: 76px;
									border-radius: 9px;
									background: var(--Light-gray, #f0f0f0);

									color: #000;
									text-align: center;
									/* web. semi.30 */
									font-family: Pretendard;
									font-size: 30px;
									font-style: normal;
									font-weight: 600;
								}
								&-nonzero {
									display: flex;
									flex-direction: row;
									justify-content: center;
									align-items: center;
									width: 130px;
									height: 76px;
									border-radius: 9px;
									background: var(--Light-gray, #f0f0f0);
									.number {
										color: #000;

										/* Pre.Semi 60 */
										font-family: Pretendard;
										font-size: 60px;
										font-style: normal;
										font-weight: 600;
										line-height: 35px;
										//line-height: 28px; /* 46.667% */
									}
									.unit {
										color: #000;
										margin-top: 20px;
										/* web. semi.30 */
										font-family: Pretendard;
										font-size: 30px;
										font-style: normal;
										font-weight: 600;
										line-height: 55px;
									}
								}
								&-title {
									color: #000;
									margin-top: 6px;
									/* web. re.22 */
									font-family: Pretendard;
									font-size: 16px;
									font-style: normal;
									font-weight: 400;
									line-height: 28px; /* 127.273% */
								}
							}

							.terminated {
								display: flex;
								flex-direction: column;
								align-items: center;
								width: 130px;
								height: fit-content;
								margin-top: 6px;
								margin-left: 35px;
								&-zero {
									display: flex;
									flex-direction: row;
									justify-content: center;
									align-items: center;
									width: 130px;
									height: 76px;
									border-radius: 9px;
									background: var(--Light-gray, #f0f0f0);
									//margin-bottom: 19px;
									color: #000;
									text-align: center;
									/* web. semi.30 */
									font-family: Pretendard;
									font-size: 30px;
									font-style: normal;
									font-weight: 600;
								}
								&-nonzero {
									display: flex;
									flex-direction: row;
									justify-content: center;
									align-items: center;
									width: 130px;
									height: 76px;
									border-radius: 9px;
									background: var(--Light-gray, #f0f0f0);
									.number {
										color: #000;

										/* Pre.Semi 60 */
										font-family: Pretendard;
										font-size: 60px;
										font-style: normal;
										font-weight: 600;
										line-height: 35px;
										//line-height: 28px; /* 46.667% */
									}
									.unit {
										color: #000;

										/* web. semi.30 */
										font-family: Pretendard;
										font-size: 30px;
										font-style: normal;
										font-weight: 600;
										line-height: 55px;
									}
								}
								&-title {
									color: #000;
									margin-top: 6px;
									/* web. re.22 */
									font-family: Pretendard;
									font-size: 16px;
									font-style: normal;
									font-weight: 400;
									line-height: 28px; /* 127.273% */
								}
							}
						}
					}
					.event {
						display: flex;
						flex-direction: column;
						width: 440px;
						height: fit-content;
						margin-left: 80px;
						&-head {
							width: 440px;
							height: 28px;
							margin-top: 0px;
							margin-left: 0px;
							color: var(--blue, #0d5699);

							/* web. re.22 */
							font-family: Pretendard;
							font-size: 16px;
							font-style: normal;
							font-weight: 400;
							line-height: 28px; /* 127.273% */
							margin-bottom: 0px;
						}
						&-body {
							width: 290px;
							height: 108px;
							display: flex;
							flex-direction: row;
							.last {
								display: flex;
								flex-direction: column;
								align-items: center;
								width: 130px;
								height: fit-content;
								margin-top: 6px;
								&-zero {
									display: flex;
									flex-direction: row;
									justify-content: center;
									align-items: center;
									width: 130px;
									height: 76px;
									border-radius: 9px;
									background: var(--Light-gray, #f0f0f0);
									//margin-bottom: 19px;
									color: #000;
									text-align: center;
									/* web. semi.30 */
									font-family: Pretendard;
									font-size: 30px;
									font-style: normal;
									font-weight: 600;
								}
								&-nonzero {
									display: flex;
									flex-direction: row;
									justify-content: center;
									align-items: center;
									width: 130px;
									height: 76px;
									border-radius: 9px;
									background: var(--Light-gray, #f0f0f0);
									.number {
										color: #000;

										/* Pre.Semi 60 */
										font-family: Pretendard;
										font-size: 60px;
										font-style: normal;
										font-weight: 600;
										line-height: 35px;
										//line-height: 28px; /* 46.667% */
									}
									.unit {
										color: #000;
										margin-top: 20px;
										/* web. semi.30 */
										font-family: Pretendard;
										font-size: 30px;
										font-style: normal;
										font-weight: 600;
										line-height: 55px;
									}
								}
								&-title {
									color: #000;
									margin-top: 6px;
									/* web. re.22 */
									font-family: Pretendard;
									font-size: 16px;
									font-style: normal;
									font-weight: 400;
									line-height: 28px; /* 127.273% */
								}
							}
							.upcoming {
								display: flex;
								flex-direction: column;
								align-items: center;
								width: 130px;
								height: fit-content;
								margin-top: 6px;
								margin-left: 40px;
								&-zero {
									display: flex;
									flex-direction: row;
									justify-content: center;
									align-items: center;
									width: 130px;
									height: 76px;
									border-radius: 9px;
									background: var(--Light-gray, #f0f0f0);

									color: #000;
									text-align: center;
									/* web. semi.30 */
									font-family: Pretendard;
									font-size: 30px;
									font-style: normal;
									font-weight: 600;
								}
								&-nonzero {
									display: flex;
									flex-direction: row;
									justify-content: center;
									align-items: center;
									width: 130px;
									height: 76px;
									border-radius: 9px;
									background: var(--Light-gray, #f0f0f0);
									.number {
										color: #000;

										/* Pre.Semi 60 */
										font-family: Pretendard;
										font-size: 60px;
										font-style: normal;
										font-weight: 600;
										line-height: 35px;
										//line-height: 28px; /* 46.667% */
									}
									.unit {
										color: #000;

										/* web. semi.30 */
										font-family: Pretendard;
										font-size: 30px;
										font-style: normal;
										font-weight: 600;
										line-height: 55px;
									}
								}
								&-title {
									color: #000;
									margin-top: 6px;
									/* web. re.22 */
									font-family: Pretendard;
									font-size: 16px;
									font-style: normal;
									font-weight: 400;
									line-height: 28px; /* 127.273% */
								}
							}
						}
					}
				}
			}
		}
	}
}
