.Layout {
  width: 1496px;
  margin: auto;
}

.Project {
  display: flex;
  flex-direction: column;
  width: 100%;

  margin-bottom: 80px;
  &-head {
    display: flex;
    flex-direction: row;

    width: 1547px;
    height: 34px;
    margin: auto;
    margin-top: 54px;
    .title {
      height: 34px;
      margin-right: 50px;
      color: #000;

      font-family: Pretendard;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
    }
    .search {
      display: flex;
      align-items: center;
      position: relative;
      width: 510px;
      height: 34px;
      margin-left: 305px;
      margin-right: 55px;

      background: var(--Light-gray, #f0f0f0);

      //justify-content: space-between;
      input {
        width: 450px;
        margin-left: 16px;
        background: var(--Light-gray, #f0f0f0);

        color: var(--Midium-gray, #3c3c3c);
        font-family: Pretendard;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px;
      }
      img {
        position: absolute;
        right: 8px;
      }
    }
    .add {
      width: 172px;
      height: 34px;
      color: #fff;
      background: var(--Light-gray-Hovered, #e1e1e1);
      font-family: Pretendard;
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: 38.5px;
    }
    .add-active {
      width: 172px;
      height: 34px;
      background: var(--blue, #0d5699);
      font-family: Pretendard;
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: 38.5px;
    }
    .add-active:hover {
      background: #093f71;
      cursor: pointer;
    }
  }
  &-body {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 26px;
    width: 1547px;
    .label {
      display: flex;
      flex-direction: row;
      width: 1547px;
      height: 40px;
      margin-bottom: 14px;
      .type {
        width: 376px;
        margin-right: 1px;
        background-color: black;
        span {
          margin-left: 16px;
          color: #fff;
          font-family: Pretendard;
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: 40px;
        }
      }
      .title {
        @extend .type;
        width: 376px;
      }
      .pid {
        @extend .type;
        width: 382px;
      }
      .category {
        @extend .type;
        width: 300px;
      }
      .status {
        @extend .type;
        width: 435px;
      }
    }
    .list {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 1547px;
      height: 54px;
      margin-bottom: 2px;

      .type {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid var(--Midium-gray, #9e9e9e);
        height: 54px;
        span {
          color: #000;
          margin-left: 12px;
          margin-top: 2px;
          font-family: Pretendard;
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          overflow:hidden;
          text-overflow:ellipsis;
          white-space:nowrap;
        }
      }
      .title {
        @extend .type;
        width: 377px;
      }
      .pid {
        @extend .type;
        border-left: 0px;
        width: 383px;
      }
      .category {
        @extend .type;
        border-left: 0px;
        width: 301px;
      }
      .status {
        @extend .title;
        border-left: 0px;
        width: 435px;
        display: flex;
        flex-direction: row;
        align-items: center;

        span {
          width: 158px;
        }
        .store {
          display: inline-flex;
          height: 39.064px;
          padding: 2px 40px;
          padding-top: 4px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          flex-shrink: 0;
          background: var(--Midium-gray, #9e9e9e);
          color: #fff;

          font-family: Pretendard;
          font-size: 20px;
          font-style: normal;
          font-weight: 300;
          margin-left: 14px;
        }
        .store:hover {
          background: var(--Dark-gray, #3c3c3c);
          cursor: pointer;
        }
        .edit {
          @extend .store;

          background: var(--blue, #0d5699);
        }
        .edit:hover {
          cursor: pointer;
          background: #093f71;
        }
      }
      img {
        margin-left: 21px;
      }
      img:hover {
        content: url("/public/assets/images/trash-r.svg");
        cursor: pointer;
      }
    }
  }
}

.ProjectSection {
  display: flex;
  flex-direction: column;
}

.ProjectUpperBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  padding-top: 54px;
  margin-bottom: 27px;
}

.divideSector {
  border-bottom: 1px solid var(--Midium-gray, #9e9e9e);
  padding: 50px 0px;

  &:last-child {
    border: 0px;
  }
}

.ProjectDetailPageTitle {
  width: 1214px;
  position: relative;
  margin-left: 79px;
  color: #000;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.ProjectDetailButtonSet {
  button {
    height: 31px;
    flex-shrink: 0;
    color: #000;
    background: #fff;
    border: 1px solid #000;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;

    &.status {
      width: 132px;
    }

    &.sexes {
      width: 86.479px;
    }

    &.volunteers {
      width: 71px;
    }

    &:nth-child(2) {
      border-right: 0px;
      border-left: 0px;
    }

    &.true {
      color: #fff;
      background: #000;
    }
  }
}

.ProjectDetailTitle {
  margin-bottom: 24px;
  textarea {
    width: 1496px;
    height: 80px;
  }
}

.ProjectDetailPeriod {
  display: flex; // Grid?
  flex-wrap: wrap;
  width: 1496px;
  height: 256px;
  flex-shrink: 0;
  border: 1px solid var(--Dark-gray, #3c3c3c);
  margin-bottom: 50px;
}

.ProjectStartDate,
.ProjectCompleteDate {
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  border: 1px solid #000;
  padding: 1px 8px;
  width: 257px;
  .clickLayout {
    display: flex;
    align-items: center;
    input {
      border: none;
      width: 200px;
      caret-color: transparent;
    }
    img {
      width: 25px;
      height: 24px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.SetEventDateCalendar {
  width: 400px;
}

.PeriodInputBox {
  height: 127px;
  width: 377px;
  padding: 32px 44px;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;

  input {
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    border: 1px solid #000;
    padding: 1px 8px;
    width: 257px;
  }

  .title {
    color: #000;
    margin-bottom: 8px;
  }

  .periodInput {
    display: flex;
    height: 30px;
    input {
      text-align: center;
      padding: 0px;
    }
    .day {
      width: 70px;
      border: 1px solid #000;
    }
    .month {
      width: 70px;
      border: 0px;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
    }
    .year {
      width: 116px;
      border: 1px solid #000;
    }
  }
}

.StudyOverview {
  margin-bottom: 50px;

  textarea {
    width: 1496px;
    height: 340px;
  }
}

.OfficialTitle {
  margin-bottom: 50px;

  textarea {
    width: 1496px;
    height: 200px;
  }
}

.Conditions {
  display: flex;
  width: 1496px;
  height: 54px;
  .element {
    width: 1496px;
    margin-right: 0px;
  }
}

.LinkInput {
  display: flex;
  align-items: center;
  padding: 13px 17px 13px 0px;
  img {
    padding: 13px 16px;
  }
  input {
    width: 1230px;
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }
}

.ContactInformation {
  .title {
    color: var(--blue, #0d5699);
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 14px;
  }
  .inputForm {
    display: flex;
    width: 1496px;
    margin-bottom: 14px;

    .name {
      width: 186px;
    }

    .number {
      width: 317px;
    }

    .email {
      width: 648px;
    }

    .locaion {
      width: 1376px;
    }

    :last-child {
      margin-right: 0px;
    }
  }
}

.ParticipationCriteria {
  .title {
    color: var(--blue, #0d5699);
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 14px;
  }

  textarea {
    width: 1496px;
    height: 150px;
    flex-shrink: 0;
    margin-bottom: 24px;
  }
}

.CriteriaInputSector {
  display: flex;
  width: 1496px;
  height: 256px;
  flex-shrink: 0;
  border: 1px solid var(--Dark-gray, #3c3c3c);
  flex-direction: column;
}

.StudyPlan {
  .title {
    color: var(--blue, #0d5699);
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 14px;
  }

  .ObservationalModel {
    width: 497px;
  }

  .TimePerspective {
    width: 530px;
  }
}

.StudyInputSet {
  display: flex;
  margin-bottom: 24px;

  :last-child {
    margin-right: 0px;
  }
}

.Intervention {
  width: 1496px;
  height: 150px;
  flex-shrink: 0;
  margin-bottom: 24px;
}

.MeasuresTable {
  border-collapse: collapse;
  color: #000;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;

  th {
    width: 449px;
    height: 97px;
    flex-shrink: 0;
    border: 1px solid #000;
  }

  td {
    border: 1px solid #000;
  }

  textarea {
    width: 449px;
    height: 161px;
    flex-shrink: 0;
    resize: none;
    padding: 9px 10px;
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }
}

.CandI {
  .title {
    color: #000;
    font-family: Pretendard;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 24px;
  }
  .subtitle {
    color: #000;
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 12px;
  }

  .CandIFormSet {
    > div:last-child {
      > img {
        width: 50px;
        height: 50px;
        &:hover {
          content: url("../../../../public/assets/images/addform_hover.svg");
        }
      }
    }
  }
}

.CandIInputSet {
  display: flex;
  margin-bottom: 20px;

  input {
    height: 54px;
  }
  .name {
    width: 205px;
  }
  .affiliation {
    width: 357px;
  }
  .link {
    width: 592px;
  }

  > img {
    width: 50px;
    height: 50px;
    &:hover {
      content: url("../../../../public/assets/images/removeform_hover.svg");
    }
  }
}

.Publiciations {
  .title {
    color: #000;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 14px;
  }
  > div:last-child {
    > img {
      width: 50px;
      height: 50px;
      &:hover {
        content: url("../../../../public/assets/images/addform_hover.svg");
      }
    }
  }
}

.PublicationLink {
  display: flex;
  margin-bottom: 20px;
  .smallInput {
    display: flex;
    align-items: center;
    width: 1426px;
    img {
      padding-right: 16px;
    }
    input {
      width: 1333px;
      font-family: Pretendard;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
    }
  }
  > img {
    width: 50px;
    height: 50px;
    &:hover {
      content: url("../../../../public/assets/images/removeform_hover.svg");
    }
  }
}
// common ////////////////////////////////////////////////////////////////////

.BackImage {
  width: 88px;
  height: 28px;
}

.SaveButton {
  display: inline-flex;
  height: 34px;
  padding: 2px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: var(--blue, #0d5699);
  color: #fff;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28.5px;
  float: right;
  cursor: pointer;
}

.ArticleTitle {
  display: inline-flex;
  padding: 8px 34px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--Light-gray, #f0f0f0);
  color: #000;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.ArticleInputArea {
  flex-shrink: 0;
  border: 1px solid #000;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding: 12px 14px;
  resize: none;
}

.smallInput {
  height: 54px;
  padding: 13px 17px;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-right: 24px;
  border: 1px solid var(--Dark-gray, #3c3c3c);
}

.subject {
  display: inline-flex;
  height: 54px;
  flex-shrink: 0;
  padding: 8px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: var(--Dark-gray, #3c3c3c);
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
