.Layout {
  width: 1496px;
  margin: 54px auto;
}

.ProjectSection {
  display: flex;
  flex-direction: column;
}

.ProjectUpperBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 27px;
}

.divideSector {
  border-bottom: 1px solid var(--Midium-gray, #9e9e9e);
  padding: 50px 0px;
}
.divideSector:last-child {
  border: 0px;
}

.ProjectDetailPageTitle {
  width: 1214px;
  position: relative;
  margin-left: 79px;
  color: #000;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.ProjectDetailButtonSet button {
  height: 31px;
  flex-shrink: 0;
  color: #000;
  background: #fff;
  border: 1px solid #000;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}
.ProjectDetailButtonSet button.status {
  width: 132px;
}
.ProjectDetailButtonSet button.sexes {
  width: 86.479px;
}
.ProjectDetailButtonSet button.volunteers {
  width: 71px;
}
.ProjectDetailButtonSet button:nth-child(2) {
  border-right: 0px;
  border-left: 0px;
}
.ProjectDetailButtonSet button.true {
  color: #fff;
  background: #000;
}

.ProjectDetailTitle {
  margin-bottom: 24px;
}
.ProjectDetailTitle textarea {
  width: 1496px;
  height: 80px;
}

.ProjectDetailPeriod {
  display: flex;
  flex-wrap: wrap;
  width: 1496px;
  height: 256px;
  flex-shrink: 0;
  border: 1px solid var(--Dark-gray, #3c3c3c);
  margin-bottom: 50px;
}

.PeriodInputBox {
  height: 127px;
  width: 377px;
  padding: 32px 44px;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}
.PeriodInputBox input {
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  border: 1px solid #000;
  padding: 1px 8px;
  width: 257px;
}
.PeriodInputBox .title {
  color: #000;
  margin-bottom: 8px;
}
.PeriodInputBox .periodInput {
  display: flex;
  height: 30px;
}
.PeriodInputBox .periodInput input {
  text-align: center;
  padding: 0px;
}
.PeriodInputBox .periodInput .day {
  width: 70px;
  border: 1px solid #000;
}
.PeriodInputBox .periodInput .month {
  width: 70px;
  border: 0px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.PeriodInputBox .periodInput .year {
  width: 116px;
  border: 1px solid #000;
}

.StudyOverview {
  margin-bottom: 50px;
}
.StudyOverview textarea {
  width: 1496px;
  height: 340px;
}

.OfficialTitle {
  margin-bottom: 50px;
}
.OfficialTitle textarea {
  width: 1496px;
  height: 200px;
}

.ConditionsLink {
  display: flex;
  width: 1496px;
  height: 54px;
  border: 1px solid var(--Dark-gray, #3c3c3c);
}

.LinkInput {
  display: flex;
  align-items: center;
  padding: 13px 17px 13px 0px;
}
.LinkInput img {
  padding: 13px 16px;
}
.LinkInput input {
  width: 1230px;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.ContactInformation .title {
  color: var(--blue, #0d5699);
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 14px;
}
.ContactInformation .inputForm {
  display: flex;
  width: 1496px;
  margin-bottom: 14px;
}
.ContactInformation .inputForm .name {
  width: 186px;
}
.ContactInformation .inputForm .number {
  width: 317px;
}
.ContactInformation .inputForm .email {
  width: 648px;
}
.ContactInformation .inputForm .locaion {
  width: 1376px;
}
.ContactInformation .inputForm :last-child {
  margin-right: 0px;
}

.ParticipationCriteria .title {
  color: var(--blue, #0d5699);
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 14px;
}
.ParticipationCriteria textarea {
  width: 1496px;
  height: 150px;
  flex-shrink: 0;
  margin-bottom: 24px;
}

.CriteriaInputSector {
  display: flex;
  width: 1496px;
  height: 256px;
  flex-shrink: 0;
  border: 1px solid var(--Dark-gray, #3c3c3c);
  flex-direction: column;
}

.StudyPlan .title {
  color: var(--blue, #0d5699);
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 14px;
}
.StudyPlan .ObservationalModel {
  width: 497px;
}
.StudyPlan .TimePerspective {
  width: 530px;
}

.StudyInputSet {
  display: flex;
  margin-bottom: 24px;
}
.StudyInputSet :last-child {
  margin-right: 0px;
}

.Intervention {
  width: 1496px;
  height: 150px;
  flex-shrink: 0;
  margin-bottom: 24px;
}

.MeasuresTable {
  border-collapse: collapse;
  color: #000;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.MeasuresTable th {
  width: 449px;
  height: 97px;
  flex-shrink: 0;
  border: 1px solid #000;
}
.MeasuresTable td {
  border: 1px solid #000;
}
.MeasuresTable textarea {
  width: 449px;
  height: 161px;
  flex-shrink: 0;
  resize: none;
  padding: 9px 10px;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.CandI .title {
  color: #000;
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 24px;
}
.CandI .subtitle {
  color: #000;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 12px;
}
.CandI .subtitle:last-child {
  margin: 0px;
}

.CandIInputSet {
  display: flex;
  margin-bottom: 20px;
}
.CandIInputSet:last-child {
  margin-bottom: 50px;
}
.CandIInputSet input {
  height: 54px;
}
.CandIInputSet .name {
  width: 205px;
}
.CandIInputSet .affiliation {
  width: 357px;
}
.CandIInputSet .link {
  width: 592px;
}

.Publiciations .title {
  color: #000;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 14px;
}

.PublicationLink {
  display: flex;
  margin-bottom: 20px;
}
.PublicationLink .smallInput {
  display: flex;
  align-items: center;
  width: 1426px;
}
.PublicationLink .smallInput img {
  padding-right: 16px;
}
.PublicationLink .smallInput input {
  width: 1333px;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.BackImage {
  width: 88px;
  height: 28px;
}

.SaveButton {
  display: inline-flex;
  height: 34px;
  padding: 2px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: var(--blue, #0d5699);
  color: #fff;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28.5px;
  float: right;
}

.ArticleTitle {
  display: inline-flex;
  padding: 8px 34px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--Light-gray, #f0f0f0);
  color: #000;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.ArticleInputArea {
  flex-shrink: 0;
  border: 1px solid #000;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding: 12px 14px;
  resize: none;
}

.smallInput {
  height: 54px;
  padding: 13px 17px;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-right: 24px;
  border: 1px solid var(--Dark-gray, #3c3c3c);
}

.subject {
  display: inline-flex;
  height: 54px;
  flex-shrink: 0;
  padding: 8px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: var(--Dark-gray, #3c3c3c);
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}/*# sourceMappingURL=projects.css.map */