@charset "UTF-8";
.researcherinfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 80px;
}
.researcherinfo-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1496px;
  height: 28px;
  margin: auto;
  margin-top: 54px;
}
.researcherinfo-head div {
  color: #000;
  /* semi 24 */
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 116.667% */
}
.researcherinfo-head button {
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 34px;
  padding: 2px 40px;
  background: var(--blue, #0d5699);
  color: #fff;
  /* Web/Pre. Light 20 */
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 35px; /* 142.5% */
}
.researcherinfo-head button:hover {
  cursor: pointer;
  background: #093f71;
}
.researcherinfo-map {
  display: flex;
  flex-direction: column;
  width: 1496px;
  height: "fit-content";
  margin: auto;
  margin-top: 39px;
}
.researcherinfo-map .map-button {
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 336px;
  height: 54px;
  padding: 8px 18px;
  background: #000;
}
.researcherinfo-map .map-button div {
  color: #fff;
  text-align: center;
  /* web. re.22 */
  font-family: Pretendard;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
}
.researcherinfo-map .map-button:hover {
  cursor: pointer;
}
.researcherinfo-map .map-body {
  display: grid;
  grid-template-columns: repeat(8, 187px); /* 187px - 1px (border) */
  grid-template-rows: repeat(4, 187px); /* 187px - 1px (border) */
  border: 0.5px solid #000;
}
.researcherinfo-map .map-body .grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  width: 187px; /* 187px - 1px (border) */
  height: 187px; /* 187px - 1px (border) */
  border: 0.5px solid #000;
  font-size: 24px;
  font-weight: bold;
  box-sizing: border-box; /* Include border in width and height calculation */
  color: #000;
  text-align: center;
  /* web. semi.30 */
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 93.333% */
}
.researcherinfo-map svg {
  position: absolute;
  width: 1411px;
  height: 721px;
  margin-top: 73px;
  margin-left: 47.6px;
}
.researcherinfo .divider {
  width: 1496px;
  height: 1px;
  margin: auto;
  margin-top: 42px;
  background-color: #9e9e9e;
}
.researcherinfo-body {
  display: flex;
  flex-direction: column;
  width: 1496px;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  margin-top: 42px;
  margin-bottom: 80px;
}
.researcherinfo-body .numbering {
  display: flex;
  flex-direction: row;
  width: 393px;
  height: 54px;
}
.researcherinfo-body .numbering .text {
  display: inline-flex;
  width: 200px;
  height: 54px;
  padding: 8px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: var(--Dark-gray, #3c3c3c);
  color: #fff;
  text-align: center;
  /* web. re.22 */
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
}
.researcherinfo-body .numbering .dropdown-button {
  display: flex;
  align-items: center;
  position: relative;
  width: 193px;
  height: 54px;
  border: 1px solid black;
}
.researcherinfo-body .numbering .dropdown-button .location {
  width: 193px;
  color: var(--Midium-gray, #000);
  margin-left: 16px;
  /* web. re.22 */
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
}
.researcherinfo-body .numbering .dropdown-button img {
  position: absolute;
  right: 21px;
}
.researcherinfo-body .numbering .dropdown-button:hover {
  cursor: pointer;
}
.researcherinfo-body .numbering .dropdown-container {
  /* 레이아웃 관련 속성 */
  position: absolute;
  margin-left: 200px;
  margin-top: 64px;
  width: 193px;
  height: 324px;
  overflow-y: auto;
  /* 기타 속성 */
  z-index: 20;
  scroll-behavior: smooth;
  border: 1px solid #000;
}
.researcherinfo-body .numbering .dropdown-container .dropdown-content {
  /* 레이아웃 관련 속성 */
  display: flex;
  flex-direction: column;
  /* 텍스트 관련 속성 */
  font-size: 18px;
  font-weight: bold;
  /* 기타 속성 */
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #000;
  background-color: white;
}
.researcherinfo-body .numbering .dropdown-container .dropdown-content .dropdown-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #000;
  background-color: white;
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #000;
}
.researcherinfo-body .numbering .dropdown-container .dropdown-content .dropdown-item:last-child {
  border-bottom: none;
}
.researcherinfo-body .numbering .dropdown-container .dropdown-content:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
.researcherinfo-body .numbering .dropdown-container .dropdown-content:last-child {
  border-bottom: none;
}
.researcherinfo-body .info {
  display: flex;
  flex-direction: row;
  width: 1496px;
  height: 54px;
  margin: auto;
  margin-top: 24px;
}
.researcherinfo-body .info .name, .researcherinfo-body .info .project, .researcherinfo-body .info .department {
  display: flex;
  flex-direction: row;
  width: 280px;
}
.researcherinfo-body .info .name .text, .researcherinfo-body .info .project .text, .researcherinfo-body .info .department .text {
  /* 레이아웃 관련 속성 */
  display: inline-flex;
  height: 54px;
  padding: 8px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  /* 기타 속성 */
  background: var(--Dark-gray, #3c3c3c);
  color: #fff;
  /* 텍스트 관련 속성 */
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
}
.researcherinfo-body .info .name input, .researcherinfo-body .info .project input, .researcherinfo-body .info .department input {
  width: 205px;
  height: 54px;
  border: 1px solid var(--Dark-gray, #3c3c3c);
  padding-left: 20px;
  color: var(--Midium-gray, #000);
  /* web. re.22 */
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
}
.researcherinfo-body .info .department {
  margin-left: 32px;
  width: 432px;
}
.researcherinfo-body .info .department input {
  width: 357px;
}
.researcherinfo-body .info .project {
  margin-left: 32px;
  width: 737px;
}
.researcherinfo-body .info .project .text {
  width: 113px;
}
.researcherinfo-body .info .project input {
  width: 624px;
}
.researcherinfo-body .profile-image {
  width: 1496px;
  height: 50px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid black;
}
.researcherinfo-body .profile-image label {
  display: flex;
  align-items: center;
  width: 1496px;
  height: 50px;
  margin-left: 15px;
}
.researcherinfo-body .profile-image label img:hover {
  cursor: pointer;
}
.researcherinfo-body .profile-image label .text {
  margin-left: 16px;
  color: #000;
  /* web. re.22 */
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 127.273% */
}
.researcherinfo-body .profile-image label p {
  margin-left: 16px;
  color: var(--Midium-gray, #000);
  text-align: center;
  /* web. re.22 */
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
}
.researcherinfo-body .link, .researcherinfo-body .twitter {
  display: flex;
  flex-direction: row;
  width: 1496px;
  height: 54px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid var(--Dark-gray, #3c3c3c);
}
.researcherinfo-body .link .text, .researcherinfo-body .twitter .text {
  /* 레이아웃 관련 속성 */
  display: inline-flex;
  position: relative;
  width: 75px;
  float: none; /* 적절한 float 값을 설정하세요 */
  height: auto; /* 적절한 height 값을 설정하세요 */
  margin: 0; /* 적절한 margin 값을 설정하세요 */
  padding: 8px 18px; /* 적절한 padding 값을 설정하세요 */
  box-sizing: content-box; /* 적절한 box-sizing 값을 설정하세요 */
  justify-content: center;
  /* 텍스트 관련 속성 */
  color: white;
  font-family: Pretendard;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  align-items: center;
  /* 기타 속성 */
  background: var(--Dark-gray, #3c3c3c);
  border: none; /* 적절한 border 값을 설정하세요 */
  border-radius: 0; /* 적절한 border-radius 값을 설정하세요 */
}
.researcherinfo-body .link img, .researcherinfo-body .twitter img {
  margin-left: 20px;
  width: 30px;
}
.researcherinfo-body .link input, .researcherinfo-body .twitter input {
  width: 1420px;
  margin-left: 19px;
  color: var(--Midium-gray, #000);
  /* web. re.22 */
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
}
.researcherinfo-body .twitter {
  margin-top: 10px;
}
.researcherinfo-body .biography {
  display: flex;
  flex-direction: column;
  width: 1496px;
  height: 342px;
  margin-top: 50px;
}
.researcherinfo-body .biography .head {
  color: #000;
  /* semi 24 */
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 116.667% */
}
.researcherinfo-body .biography textarea {
  width: 1496px;
  height: 300px;
  margin-top: 14px;
  flex-shrink: 0;
  border: 1px solid var(--Dark-gray, #3c3c3c);
  padding: 12px 14px 14px 12px;
  color: var(--Midium-gray, #000);
  /* web. light.20 */
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 140% */
}
.researcherinfo-body .publication {
  display: flex;
  flex-direction: column;
  width: 1496px;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 56px;
}
.researcherinfo-body .publication .head {
  color: #000;
  margin-bottom: 14px;
  /* semi 24 */
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 116.667% */
}
.researcherinfo-body .publication .box {
  /* 레이아웃 관련 속성 */
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1496px;
  height: 54px;
  border: 1px solid var(--Dark-gray, #3c3c3c);
  margin-bottom: 10px;
  /* 텍스트 관련 속성 (input) */
  /* 기타 속성 */
  /* 추가하고자 하는 기타 속성을 여기에 추가하세요 */
}
.researcherinfo-body .publication .box input {
  width: 1400px;
  color: var(--Midium-gray, #000);
  margin-left: 19px;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
}
.researcherinfo-body .publication .container {
  display: flex;
  flex-direction: column;
  width: 1496px;
  height: 504px;
}
.researcherinfo-body .publication .container .linkbox {
  display: flex;
  flex-direction: row;
  width: 1496px;
  height: 54px;
}
.researcherinfo-body .publication .container .linkbox-input {
  width: 1426px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 54px;
  border: 1px solid var(--Dark-gray, #3c3c3c);
}
.researcherinfo-body .publication .container .linkbox-input input {
  width: 1400px;
  color: var(--Midium-gray, #000);
  margin-left: 19px;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
  background-color: white;
}
.researcherinfo-body .publication .container .linkbox-input img {
  margin-left: 19px;
}
.researcherinfo-body .publication .container .linkbox .add, .researcherinfo-body .publication .container .linkbox .sub {
  height: 54px;
  margin-left: 16px;
}
.researcherinfo-body .publication .container .linkbox .add:hover, .researcherinfo-body .publication .container .linkbox .sub:hover {
  content: url("/public/assets/images/add-h.svg");
  cursor: pointer;
}
.researcherinfo-body .publication .container .linkbox .sub:hover {
  content: url("/public/assets/images/sub-h.svg");
}
.researcherinfo-body .publication .container .info {
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  width: 1426px;
  height: 383px;
  border: 1px solid var(--Midium-gray, #9e9e9e);
  padding: 18px 23px;
}
.researcherinfo-body .publication .container .info-title, .researcherinfo-body .publication .container .info-ho, .researcherinfo-body .publication .container .info-yjc .y, .researcherinfo-body .publication .container .info-yjc .c, .researcherinfo-body .publication .container .info-yjc .j, .researcherinfo-body .publication .container .info-author {
  width: 1200px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}
.researcherinfo-body .publication .container .info-title .header, .researcherinfo-body .publication .container .info-ho .header, .researcherinfo-body .publication .container .info-yjc .y .header, .researcherinfo-body .publication .container .info-yjc .c .header, .researcherinfo-body .publication .container .info-yjc .j .header, .researcherinfo-body .publication .container .info-author .header {
  color: var(--Dark-gray, #3c3c3c);
  width: 77px;
  text-align: right;
  /* web. re.22 */
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
}
.researcherinfo-body .publication .container .info-title .stroke, .researcherinfo-body .publication .container .info-ho .stroke, .researcherinfo-body .publication .container .info-yjc .y .stroke, .researcherinfo-body .publication .container .info-yjc .c .stroke, .researcherinfo-body .publication .container .info-yjc .j .stroke, .researcherinfo-body .publication .container .info-author .stroke {
  height: 20px;
  width: 2px;
  background-color: #9e9e9e;
  margin-left: 20px;
  margin-right: 20px;
}
.researcherinfo-body .publication .container .info-title .body, .researcherinfo-body .publication .container .info-ho .body, .researcherinfo-body .publication .container .info-yjc .y .body, .researcherinfo-body .publication .container .info-yjc .c .body, .researcherinfo-body .publication .container .info-yjc .j .body, .researcherinfo-body .publication .container .info-author .body {
  color: var(--Dark-gray, #3c3c3c);
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 140% */
  background-color: white;
}
.researcherinfo-body .publication .container .info-author .body {
  width: 150px;
}
.researcherinfo-body .publication .container .info-author img {
  margin-left: 10px;
}
.researcherinfo-body .publication .container .info-yjc {
  width: 1200px;
  display: flex;
  flex-direction: row;
}
.researcherinfo-body .publication .container .info-yjc .y, .researcherinfo-body .publication .container .info-yjc .c, .researcherinfo-body .publication .container .info-yjc .j {
  width: 240px;
  margin-right: 20px;
}
.researcherinfo-body .publication .container .info-yjc .y .header, .researcherinfo-body .publication .container .info-yjc .c .header, .researcherinfo-body .publication .container .info-yjc .j .header {
  width: 80px;
}
.researcherinfo-body .publication .container .info-yjc .y .body, .researcherinfo-body .publication .container .info-yjc .c .body, .researcherinfo-body .publication .container .info-yjc .j .body {
  width: 110px;
  height: 26px;
}
.researcherinfo-body .publication .container .info-yjc .j {
  width: 330px;
}
.researcherinfo-body .publication .container .info-yjc .j .header {
  width: 40px;
}
.researcherinfo-body .publication .container .info-yjc .j .body {
  width: 245px;
}
.researcherinfo-body .publication .container .info-yjc .c {
  width: 452px;
}
.researcherinfo-body .publication .container .info-yjc .c .header {
  width: 102px;
}
.researcherinfo-body .publication .container .info-yjc .c .body {
  width: 300px;
}
@media (max-width: 1400px) {
  .researcherinfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 80px;
  }
  .researcherinfo-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 900px;
    height: 28px;
    margin: auto;
    margin-top: 54px;
  }
  .researcherinfo-head div {
    color: #000;
    /* semi 24 */
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 116.667% */
  }
  .researcherinfo-head button {
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 34px;
    padding: 2px 40px;
    background: var(--blue, #0d5699);
    color: #fff;
    /* Web/Pre. Light 20 */
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 35px; /* 142.5% */
  }
  .researcherinfo-head button:hover {
    cursor: pointer;
    background: #093f71;
  }
  .researcherinfo-map {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: "fit-content";
    margin: auto;
    margin-top: 39px;
  }
  .researcherinfo-map .map-button {
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 336px;
    height: 54px;
    padding: 8px 18px;
    background: #000;
  }
  .researcherinfo-map .map-button div {
    color: #fff;
    text-align: center;
    /* web. re.22 */
    font-family: Pretendard;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
  }
  .researcherinfo-map .map-button:hover {
    cursor: pointer;
  }
  .researcherinfo-map .map-body {
    display: grid;
    grid-template-columns: repeat(8, 112.5px); /* 187px - 1px (border) */
    grid-template-rows: repeat(4, 112.5px); /* 187px - 1px (border) */
    border: 0.5px solid #000;
  }
  .researcherinfo-map .map-body .grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    width: 112.5px; /* 187px - 1px (border) */
    height: 112.5px; /* 187px - 1px (border) */
    border: 0.5px solid #000;
    font-size: 24px;
    font-weight: bold;
    box-sizing: border-box; /* Include border in width and height calculation */
    color: #000;
    text-align: center;
    /* web. semi.30 */
    font-family: Pretendard;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 93.333% */
  }
  .researcherinfo-map svg {
    position: absolute;
    width: 849px;
    height: 434px;
    margin-top: 64px;
    margin-left: 28.6px;
  }
  .researcherinfo .divider {
    width: 900px;
    height: 1px;
    margin: auto;
    margin-top: 42px;
    background-color: #9e9e9e;
  }
  .researcherinfo-body {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: -moz-fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 42px;
    margin-bottom: 80px;
  }
  .researcherinfo-body .numbering {
    display: flex;
    flex-direction: row;
    width: 393px;
    height: 54px;
  }
  .researcherinfo-body .numbering .text {
    display: inline-flex;
    width: 200px;
    height: 54px;
    padding: 8px 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background: var(--Dark-gray, #3c3c3c);
    color: #fff;
    text-align: center;
    /* web. re.22 */
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
  }
  .researcherinfo-body .numbering .dropdown-button {
    display: flex;
    align-items: center;
    position: relative;
    width: 193px;
    height: 54px;
    border: 1px solid black;
  }
  .researcherinfo-body .numbering .dropdown-button .location {
    width: 193px;
    color: var(--Midium-gray, #000);
    margin-left: 16px;
    /* web. re.22 */
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
  }
  .researcherinfo-body .numbering .dropdown-button img {
    position: absolute;
    right: 21px;
  }
  .researcherinfo-body .numbering .dropdown-button:hover {
    cursor: pointer;
  }
  .researcherinfo-body .numbering .dropdown-container {
    /* 레이아웃 관련 속성 */
    position: absolute;
    margin-left: 200px;
    margin-top: 64px;
    width: 193px;
    height: 324px;
    overflow-y: auto;
    /* 기타 속성 */
    z-index: 20;
    scroll-behavior: smooth;
    border: 1px solid #000;
  }
  .researcherinfo-body .numbering .dropdown-container .dropdown-content {
    /* 레이아웃 관련 속성 */
    display: flex;
    flex-direction: column;
    /* 텍스트 관련 속성 */
    font-size: 18px;
    font-weight: bold;
    /* 기타 속성 */
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #000;
    background-color: white;
  }
  .researcherinfo-body .numbering .dropdown-container .dropdown-content .dropdown-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #000;
    background-color: white;
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #000;
  }
  .researcherinfo-body .numbering .dropdown-container .dropdown-content .dropdown-item:last-child {
    border-bottom: none;
  }
  .researcherinfo-body .numbering .dropdown-container .dropdown-content:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }
  .researcherinfo-body .numbering .dropdown-container .dropdown-content:last-child {
    border-bottom: none;
  }
  .researcherinfo-body .info {
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 54px;
    margin: auto;
    margin-top: 24px;
  }
  .researcherinfo-body .info .name, .researcherinfo-body .info .department, .researcherinfo-body .info .project {
    display: flex;
    flex-direction: row;
    width: 230px;
  }
  .researcherinfo-body .info .name .text, .researcherinfo-body .info .department .text, .researcherinfo-body .info .project .text {
    /* 레이아웃 관련 속성 */
    display: inline-flex;
    height: 54px;
    padding: 8px 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    /* 기타 속성 */
    background: var(--Dark-gray, #3c3c3c);
    color: #fff;
    /* 텍스트 관련 속성 */
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
  }
  .researcherinfo-body .info .name input, .researcherinfo-body .info .department input, .researcherinfo-body .info .project input {
    width: 160px;
    height: 54px;
    border: 1px solid var(--Dark-gray, #3c3c3c);
    padding-left: 20px;
    color: var(--Midium-gray, #000);
    /* web. re.22 */
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
  }
  .researcherinfo-body .info .department {
    margin-left: 32px;
    width: 270px;
  }
  .researcherinfo-body .info .department input {
    width: 194px;
  }
  .researcherinfo-body .info .project {
    margin-left: 32px;
    width: 340px;
  }
  .researcherinfo-body .info .project .text {
    width: 110px;
  }
  .researcherinfo-body .info .project input {
    width: 230px;
  }
  .researcherinfo-body .profile-image {
    width: 900px;
    height: 50px;
    margin: auto;
    margin-top: 50px;
    border: 1px solid black;
  }
  .researcherinfo-body .profile-image label {
    display: flex;
    align-items: center;
    width: 900px;
    height: 50px;
    margin-left: 15px;
  }
  .researcherinfo-body .profile-image label img:hover {
    cursor: pointer;
  }
  .researcherinfo-body .profile-image label .text {
    margin-left: 16px;
    color: #000;
    /* web. re.22 */
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 127.273% */
  }
  .researcherinfo-body .profile-image label p {
    margin-left: 16px;
    color: var(--Midium-gray, #000);
    text-align: center;
    /* web. re.22 */
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
  }
  .researcherinfo-body .link, .researcherinfo-body .twitter {
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 54px;
    margin: auto;
    margin-top: 50px;
    border: 1px solid var(--Dark-gray, #3c3c3c);
  }
  .researcherinfo-body .link .text, .researcherinfo-body .twitter .text {
    /* 레이아웃 관련 속성 */
    display: inline-flex;
    position: relative;
    width: 75px;
    float: none; /* 적절한 float 값을 설정하세요 */
    height: auto; /* 적절한 height 값을 설정하세요 */
    margin: 0; /* 적절한 margin 값을 설정하세요 */
    padding: 8px 18px; /* 적절한 padding 값을 설정하세요 */
    box-sizing: content-box; /* 적절한 box-sizing 값을 설정하세요 */
    justify-content: center;
    /* 텍스트 관련 속성 */
    color: white;
    font-family: Pretendard;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    align-items: center;
    /* 기타 속성 */
    background: var(--Dark-gray, #3c3c3c);
    border: none; /* 적절한 border 값을 설정하세요 */
    border-radius: 0; /* 적절한 border-radius 값을 설정하세요 */
  }
  .researcherinfo-body .link img, .researcherinfo-body .twitter img {
    margin-left: 20px;
    width: 30px;
  }
  .researcherinfo-body .link input, .researcherinfo-body .twitter input {
    width: 800px;
    margin-left: 19px;
    color: var(--Midium-gray, #000);
    /* web. re.22 */
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
  }
  .researcherinfo-body .twitter {
    margin-top: 10px;
  }
  .researcherinfo-body .biography {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 342px;
    margin-top: 50px;
  }
  .researcherinfo-body .biography .head {
    color: #000;
    /* semi 24 */
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 116.667% */
  }
  .researcherinfo-body .biography textarea {
    width: 900px;
    height: 300px;
    margin-top: 14px;
    flex-shrink: 0;
    border: 1px solid var(--Dark-gray, #3c3c3c);
    padding: 12px 14px 14px 12px;
    color: var(--Midium-gray, #000);
    /* web. light.20 */
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; /* 140% */
  }
  .researcherinfo-body .publication {
    width: 900px;
  }
  .researcherinfo-body .publication .box {
    /* 레이아웃 관련 속성 */
    width: 900px;
    height: 54px;
    border: 1px solid var(--Dark-gray, #3c3c3c);
    margin-bottom: 10px;
    /* 텍스트 관련 속성 (input) */
    /* 기타 속성 */
    /* 추가하고자 하는 기타 속성을 여기에 추가하세요 */
  }
  .researcherinfo-body .publication .box input {
    width: 804px;
  }
  .researcherinfo-body .publication .container {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 504px;
  }
  .researcherinfo-body .publication .container .linkbox {
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 54px;
  }
  .researcherinfo-body .publication .container .linkbox-input {
    width: 830px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 54px;
    border: 1px solid var(--Dark-gray, #3c3c3c);
  }
  .researcherinfo-body .publication .container .linkbox-input input {
    width: 804px;
    color: var(--Midium-gray, #000);
    margin-left: 19px;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
    background-color: white;
  }
  .researcherinfo-body .publication .container .linkbox-input img {
    margin-left: 19px;
  }
  .researcherinfo-body .publication .container .linkbox .add, .researcherinfo-body .publication .container .linkbox .sub {
    height: 54px;
    margin-left: 16px;
  }
  .researcherinfo-body .publication .container .linkbox .add:hover, .researcherinfo-body .publication .container .linkbox .sub:hover {
    content: url("/public/assets/images/add-h.svg");
    cursor: pointer;
  }
  .researcherinfo-body .publication .container .linkbox .sub:hover {
    content: url("/public/assets/images/sub-h.svg");
  }
  .researcherinfo-body .publication .container .info {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    width: 830px;
    height: 383px;
    border: 1px solid var(--Midium-gray, #9e9e9e);
    padding: 18px 23px;
  }
  .researcherinfo-body .publication .container .info-title, .researcherinfo-body .publication .container .info-author, .researcherinfo-body .publication .container .info-yjc .y, .researcherinfo-body .publication .container .info-yjc .j, .researcherinfo-body .publication .container .info-yjc .c, .researcherinfo-body .publication .container .info-ho {
    width: 600px;
    height: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
  }
  .researcherinfo-body .publication .container .info-author .body {
    width: 150px;
  }
  .researcherinfo-body .publication .container .info-author img {
    margin-left: 10px;
  }
  .researcherinfo-body .publication .container .info-yjc {
    width: 800px;
    display: flex;
    flex-direction: row;
  }
  .researcherinfo-body .publication .container .info-yjc .y, .researcherinfo-body .publication .container .info-yjc .j, .researcherinfo-body .publication .container .info-yjc .c {
    width: 200px;
    margin-right: 20px;
  }
  .researcherinfo-body .publication .container .info-yjc .y .header, .researcherinfo-body .publication .container .info-yjc .j .header, .researcherinfo-body .publication .container .info-yjc .c .header {
    width: 80px;
  }
  .researcherinfo-body .publication .container .info-yjc .y .body, .researcherinfo-body .publication .container .info-yjc .j .body, .researcherinfo-body .publication .container .info-yjc .c .body {
    width: 50px;
    height: 26px;
  }
  .researcherinfo-body .publication .container .info-yjc .j {
    width: 220px;
  }
  .researcherinfo-body .publication .container .info-yjc .j .header {
    width: 40px;
  }
  .researcherinfo-body .publication .container .info-yjc .j .body {
    width: 120px;
  }
  .researcherinfo-body .publication .container .info-yjc .c {
    width: 320px;
  }
  .researcherinfo-body .publication .container .info-yjc .c .header {
    width: 102px;
  }
  .researcherinfo-body .publication .container .info-yjc .c .body {
    width: 160px;
  }
}/*# sourceMappingURL=researcherinfo.styles.css.map */